@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Cooperation> Localizer;

<div class="about-container">
    <h1 class="about-title">@Localizer["WhyUsText"]</h1>
    
    <AboutUsInfoItem 
        ImagePath="assets/images/package-test.jpeg"
        Title="@Localizer["ExperienceText1"]"
        Description="@Localizer["Experience2Text"]"
    />
    
    <AboutUsInfoItem 
        IsReverse="true"
        ImagePath="assets/images/package-test.jpeg"
        Title="@Localizer["QualityText1"]"
        Description="@Localizer["QualityText2"]"
    />
    
    <AboutUsInfoItem 
        ImagePath="assets/images/package-test.jpeg"
        Title="@Localizer["ProfessionalismText1"]"
        Description="@Localizer["Professionalism2"]"
    />
    
    <AboutUsInfoItem 
        IsReverse="true"
        ImagePath="assets/images/package-test.jpeg"
        Title="@Localizer["InnovationText1"]"
        Description="@Localizer["InnovationText2"]"
    />
</div>

@code {
    
}