@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Cooperation> Localizer;

<div class="advantages-container">
    <h1 class="advantages-title">@Localizer["AdvantagesOfCooperation"]</h1>
    
    <div class="advantages-wrapper">
        <section class="advantage-section">
            <h3>@Localizer["Maintenance-freeInvestmentText1"]</h3>
            <p>@Localizer["Maintenance-freeInvestmentText2"]</p>
        </section>
        
        <section class="advantage-section">
            <h3>@Localizer["IncomeOptimizationText1"]</h3>
            <p>@Localizer["IncomeOptimizationText2"]</p>
        </section>
        
        <section class="advantage-section">
            <h3>@Localizer["ReadyToHelpText1"]</h3>
            <p>@Localizer["ReadyToHelpText2"]</p>
        </section>
    </div>
</div>

@code {
    
}