@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<Cooperation> Localizer;

<div class="form-container">
    <h3 class="form-title">@Localizer["FillOutForm"]</h3>
    
    <div class="form-wrapper">
        <div class="form-image-wrapper">
            <img src="assets/images/contact.jpeg" alt="Kontakt" class="image">
        </div>
        
        <div class="form-inputs-container">
            <div class="form-names">
                <Input Placeholder="@Localizer["Name"]" Type="text" @bind-Value="_name" IsFull="true"/>  
                <Input Placeholder="@Localizer["LastName"]" Type="text" @bind-Value="_surname" IsFull="true"/>  
            </div>
            <Input Placeholder="@Localizer["PhoneNumber"]" Type="text" @bind-Value="_phone" IsFull="true"/>  
            <Input Placeholder="Email" Type="text" @bind-Value="_email" IsFull="true"/> 
            <div class="form-names">
                <Input Placeholder="@Localizer["NumberOfApartments"]" Type="number" @bind-Value="_apartmentsCount" IsFull="true"/>  
                <Input Placeholder="@Localizer["District"]" Type="text" @bind-Value="_district" IsFull="true"/>  
            </div>
            
            <Button>@Localizer["Send"]</Button>
        </div>
    </div>
    
</div>

@code {
    private string _name = "";
    private string _surname = "";
    private string _phone = "";
    private string _email = "";
    private string _apartmentsCount = "";
    private string _district = "";
}