@using System.Timers
@implements IDisposable
@inject StayWell.Services.ModalService ModalService

<div class="carousel-component-root" style="@(UseSmartGlow ? "" : "")">

    @if (UseSmartGlow)
    {
        <div class="glow-layer">
            <div class="slider" style="transform: translateX(calc(-@(_index*100)%))">
                @for (int i = 0; i < ImageUrls.Length; i++)
                {
                    <div class="slide">
                        <img class="slide-img" src="@ImageUrls[i]" aria-hidden="true" alt="" />
                    </div>
                }
            </div>
        </div>
    }

    <div class="carousel-mask @(UseControlButtons ? "noradius" : "")">
        <div class="slider" style="transform: translateX(calc(-@(_index * 100)%))">
            @for (int i = 0; i < ImageUrls.Length; i++)
            {
                <div class="slide" @onclick="EnlargeImage">
                    <img class="slide-img" src="@ImageUrls[i]" loading="lazy" alt="slide-@i"/>
                </div>
            }
        </div>
    </div>
    @if (UseControlButtons == true)
    {
        <div class="control-buttons-wrapper">
            <button @onclick="PreviousSlide"> &lt; </button>
            <span>@(_index+1) / @ImageUrls.Length </span>
            <button @onclick="NextSlide"> &gt; </button>
        </div>
    }
</div>

@code {
    [Parameter] public string[] ImageUrls { get; set; } = Array.Empty<string>();
    [Parameter] public bool UseTimer { get; set; }
    [Parameter] public bool UseControlButtons { get; set; }
    [Parameter] public int TransitionIntervalMs { get; set; } = 2000;
    [Parameter] public bool UseSmartGlow { get; set; } = false;
    [Parameter] public string AdditionalStyle { get; set; } = string.Empty;

    private int _index = 0;
    private System.Timers.Timer? _timer;

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender && UseTimer) StartTimer();
    }

    private void EnlargeImage()
    {
        ModalService.ShowModal("",
        @<div>
            <img class="big-img" src="@(ImageUrls[_index])"/>
</div>
        );
    }

    private void NextSlide()
    {

        if (_index < ImageUrls.Length - 1)
        {
            _index++;
        }
        else
        {
            _index = 0;
        }
    }

    private void PreviousSlide()
    {

        if (_index > 0)
        {
            _index--;
        }
        else
        {
            _index = ImageUrls.Length - 1;
        }
    }

    private void StartTimer()
    {
        if (TransitionIntervalMs == 0) return;
        _timer = new Timer();
        _timer.Interval = TransitionIntervalMs;
        _timer.Elapsed += async (sender, args) =>
        {
            NextSlide();
            await InvokeAsync(StateHasChanged);
        };
        _timer.AutoReset = true;
        _timer.Start();

    }

    public void Dispose()
    {
        _timer?.Stop();
        _timer?.Dispose();
    }

}