<div class="floating-nav-container">
    <div class="button-wrapper @(IsDisabled && !IsLoading ? "disabled-wrapper" : "")">
        <button class="fab-button @(IsLoading ? "is-loading" : "")" @onclick="OnClick" disabled="@(IsDisabled || IsLoading)">
            <div class="button-content">
                @if (IsLoading)
                {
                    <div class="spinner--small"></div>
                }
                else
                {
                    <span>@Text</span>
                    @if (IconPath != null)
                    {
                        <img src="@IconPath" alt="icon" class="button-icon" />
                    }
                }
            </div>
        </button>
    </div>
</div>

@code {
    [Parameter] public string Text { get; set; } = "Dalej";
    [Parameter] public string? IconPath { get; set; }
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
}