@inject NavigationManager Navigation

<div class="footer-navigation-row">
    <NavigationButton href="/InstructionsPage" icon="/icons/book.svg" active="@IsActive("/InstructionsPage")" />
    <NavigationButton href="/OpenApartmentPage" icon="/icons/door-open.svg" active="@IsActive("/OpenApartmentPage")" />
    <NavigationButton href="/HomePage" icon="/icons/house.svg" active="@IsActive("/HomePage")" />
    <NavigationButton href="/ManageStayPage" icon="/icons/lamp.svg" active="@IsActive("/ManageStayPage")" />
    <NavigationButton href="/ReservationInfoPage" icon="/icons/info.svg" active="@IsActive("/ReservationInfoPage")" />
</div>

@code {
    private bool IsActive(string href)
        => Navigation.ToBaseRelativePath(Navigation.Uri).Equals(href.TrimStart('/'), StringComparison.OrdinalIgnoreCase);
}