@inject NavigationManager Navigation
@implements IDisposable

<div class="footer-navigation-row">
    <NavigationButton href="@($"/reservation/{Token}/InstructionsPage")"
                      active="@IsActive($"/reservation/{Token}/InstructionsPage")"
                      Text="Instrukcja">
        <Icon>
            <img src="/icons/book.svg" alt="Instrukcja" />
        </Icon>
    </NavigationButton>

    <NavigationButton href="@($"/reservation/{Token}/OpenApartmentPage")"
                      active="@IsActive($"/reservation/{Token}/OpenApartmentPage")"
                      Text="Otwórz">
        <Icon>
            <img src="/icons/door-open.svg">
        </Icon>
    </NavigationButton>

    <NavigationButton href="@($"/reservation/{Token}/HomePage")"
                      active="@IsActive([$"/reservation/{Token}/HomePage", $"/reservation/{Token}/",$"/reservation/{Token}"])"
                      Text="Główna">
        <Icon>
            <img src="/icons/house.svg" alt="Główna" />
        </Icon>
    </NavigationButton>

    <NavigationButton href="@($"/reservation/{Token}/ManageStayPage")"
                      active="@IsActive($"/reservation/{Token}/ManageStayPage")"
                      Text="Zarządzaj">
        <Icon>
            <img src="/icons/lamp.svg" alt="Zarządzaj" />
        </Icon>
    </NavigationButton>

    <NavigationButton href="@($"/reservation/{Token}/AboutReservationPage")"
                      active="@IsActive($"/reservation/{Token}/AboutReservationPage")"
                      Text="Info">
        <Icon>
            <img src="/icons/info.svg" alt="Info" />
        </Icon>
    </NavigationButton>
</div>

@code {
    [Parameter]
    public string? Token { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(
        object? sender,
        Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e
    )
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }

    private bool IsActive(string href)
    {
        var currentUri = Navigation.Uri;
        var baseUri = Navigation.BaseUri;
        var relativeUri = currentUri.StartsWith(baseUri)
            ? currentUri.Substring(baseUri.Length - 1)
            : currentUri;

        return relativeUri.Equals(href, StringComparison.OrdinalIgnoreCase);
    }

    private bool IsActive(List<string> hrefs)
    {
        var currentUri = Navigation.Uri;
        var baseUri = Navigation.BaseUri;
        var relativeUri = currentUri.StartsWith(baseUri)
            ? currentUri.Substring(baseUri.Length - 1)
            : currentUri;

        return hrefs.Any(href =>
            relativeUri.Equals(href, StringComparison.OrdinalIgnoreCase)
        );
    }
}