@inject NavigationManager Navigation

<div class="footer-navigation-row">
    <NavigationButton href="/Instructions" icon="/icons/book.svg" active="@IsActive("/Instructions")" />
    <NavigationButton href="/OpenApartment" icon="/icons/door-open.svg" active="@IsActive("/OpenApartment")" />
    <NavigationButton href="/" icon="/icons/house.svg" active="@IsActive("/")" />
    <NavigationButton href="/ManageStay" icon="/icons/lamp.svg" active="@IsActive("/ManageStay")" />
    <NavigationButton href="/ReservationInfo" icon="/icons/info.svg" active="@IsActive("/ReservationInfo")" />
</div>

@code {
    private bool IsActive(string href)
        => Navigation.ToBaseRelativePath(Navigation.Uri).Equals(href.TrimStart('/'), StringComparison.OrdinalIgnoreCase);
}