@using RentoomBooking.StayWell.Pages
@using StayWell.Services
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject ModalService ModalService
@inject GlobalizationService GlobalizationService
@implements IDisposable

@inject IStringLocalizer<HomePage> Localizer

<div class="header">
    <div class="left">
        <img class="logo" src="/icons/building.svg"/>
        <div class="texts">
            <span class="name">StayWell</span>
            <span class="reservation-id">@Localizer["ReservationID"]: 
                <span style="text-decoration: underline">@reservationId</span></span>
        </div>
    </div>
    <div class="right-wrapper">

        <div class="Languages">
            <button @onclick="@ChangeLangButton" style="background: none; border: none">
                <img src="/icons/languages.svg" />
            </button>
        </div>

        <div class="Contact">
            <button @onclick="@ContactMenu" style="background: none; border: none">
                <img src="/icons/phone.svg" />
            </button>
            @* <NavLink href="@($"/reservation/{Token}/ContactUsPage")">
                <img src="/icons/phone.svg" alt="Kontakt" />
            </NavLink> *@
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Token { get; set; }
    [Parameter] 
    public string reservationId { get; set; } = "brak";

    private string pl = "pl";
    private string en = "en";

    private void ChangeLang(string lang)
    {
        GlobalizationService.SetCulture(lang == "pl" ? "pl-PL" : "en-US");
        ModalService.HideModal();
    }

    protected override void OnInitialized()
    {
        GlobalizationService.OnChange += StateHasChanged;
    }

    private void ChangeLangButton()
    {
        ModalService.ShowModal("Zmień język",
        @<div>
            <p>Aktualny język: @CultureInfo.CurrentCulture</p>
            <Button OnClick="() => ChangeLang(pl)" Text="Polski"></Button>
            <Button OnClick="() => ChangeLang(en)" Text="English"></Button>
            @* <button @onclick="() => ChangeLang("pl")>Polski</button> *@
            @* <button @onclick="() => ChangeLang("en")>English</button> *@
        </div>
    );
    }

    private void ContactMenu()
    {
        ModalService.ShowModal("Skontaktuj się z nami",
        @<ContactUsPage/>
        );
    }

    public void Dispose()
    {
        GlobalizationService.OnChange -= StateHasChanged;
    }

}
