@using Microsoft.Extensions.Localization
@using System.Globalization
@using RentoomBooking.StayWell.Pages
@inject StayWell.Services.GlobalizationService GlobalizationService
@inject IStringLocalizer<HomePage> Localizer
@implements IDisposable

@* <div class="parent">
    <div class="apartment-name">@apartmentName</div>
    <div class="apartment-full-adress">
        <span>
            @apartmentAddress @apartmentNumber
        </span>
        </div>
    <div class="check-in">
        <span>
            @Localizer["CheckIn"]:
        </span>
        </div>
    <div class="check-out">@Localizer["CheckOut"]</div>
    <div class="check-in-date">@formattedCheckInDate</div>
    <div class="check-out-date">@formattedCheckOutDate</div>
</div> *@

<div class="reservation-info">
        @* <div class="apartment-name">
            @apartmentName
        </div> *@
    @* <div class="address-wrapper">
    </div>
    <div class="dates-wrapper">
        <img src="/icons/calendar-days.svg"/>
            <div class="check-in">
                <span>@Localizer["CheckIn"]</span>
                <span>@formattedCheckInDate</span>
            </div>
            <div class="check-out">
                <span>@Localizer["CheckOut"]</span>
                <span>@formattedCheckOutDate</span>
            </div>
    </div> *@
    <div class="">
        <DateRangeBar CheckInDate="@checkInDate" CheckOutDate="@checkOutDate" CurrentDate="@today"/>
    </div>
</div>




@code {
    private string? formattedCheckInDate;
    private string? formattedCheckOutDate;
    private DateTime checkInDate;
    private DateTime checkOutDate;
    private DateTime today;

    [Parameter] public string? apartmentName { get; set; } = string.Empty;
    [Parameter] public string? apartmentAddress { get; set; } = string.Empty;
    [Parameter] public string? apartmentNumber { get; set; } = string.Empty;
    [Parameter] public string? reservationCheckInDate { get; set; } = string.Empty;
    [Parameter] public string? reservationCheckOutDate { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        formattedCheckInDate = FormatDate(reservationCheckInDate);
        formattedCheckOutDate = FormatDate(reservationCheckOutDate);

        DateTime.TryParseExact(reservationCheckInDate, "yyyy-MM-dd HH:mm", null, DateTimeStyles.None, out var ci);
        checkInDate = ci;
        DateTime.TryParseExact(reservationCheckOutDate, "yyyy-MM-dd HH:mm", null, DateTimeStyles.None, out var co);
        checkOutDate = co;

        today = DateTime.Now;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        GlobalizationService.OnChange += StateHasChanged;
    }

    private string? FormatDate(string? date)
    {
        if (string.IsNullOrWhiteSpace(date)) return null;

        if (DateTime.TryParseExact(date, "yyyy-MM-dd HH:mm", null, System.Globalization.DateTimeStyles.None, out var dt))
        {
            return dt.ToString("dd.MM.yyyy");
        }
        return date;
    }

    private string? FormatApartmentNumber(string? number) // Dodać dla np. "1 A" 
    {
        if(string.IsNullOrWhiteSpace(number)) return null;
        var match = System.Text.RegularExpressions.Regex.Match(number, @"\d+");
        return match.Success ? match.Value : number;
    }

    public void Dispose()
    {
        GlobalizationService.OnChange -= StateHasChanged;
    }


}
