@page "/apartamenty"
@using RentoomBookingWeb.Components.Features.Apartments.Components

<PageTitle>Apartamenty</PageTitle>

<div class="apartments-container">
    <HeaderSection ImagePath="/assets/images/header-bg-apartments.jpeg" Title="Apartamenty" Height="230px" />

    <div class="apartments-search-wrapper">
        <SearchBar
            StartDate="@ViewModel.StartDate"
            EndDate="@ViewModel.EndDate"
            Adults="@ViewModel.Adults"
            Children="@ViewModel.Children"
            Rooms="@ViewModel.Rooms"
            OnSearch="@(async query => await ViewModel.HandleSearchAsync(query))"
        />
    </div>

    <div class="apartments-items">
        <Filters 
            @key="ViewModel.SliderResetKey"
            OnFiltersChanged="@(data => ViewModel.HandleFiltersChangedAsync(data))"
            OnClickOnMap="() => ViewModel.ToggleView(true)"
            MinPriceOffer="@ViewModel.ScaleMinPrice"
            MaxPriceOffer="@ViewModel.ScaleMaxPrice"
            IsMapActive="@ViewModel.IsMapView"
            />
        
            <div class="apartments-items-wrapper">
                <div class="text-button-wrapper">
                    @if (!ViewModel.ApartmentsIsLoading)
                    {
                        @if (ViewModel.IsSearch)
                        {
                            @if (ViewModel.Offers.Count > 0)
                            {
                                <h4>@ViewModel.Offers.Count dostępnych ofert</h4>
                            }
                            else
                            {
                                <h4>Brak ofert w wybranym terminie</h4>
                            }
                        }
                        else
                        {
                            <h4>@ViewModel.ApartmentsCount apartamenty/ów</h4>
                        }   
                    }
                    else
                    {
                        <h4>Ładowanie...</h4>
                    }
                    <div class="view-buttons-wrapper">
                        <div @onclick="() => ViewModel.ToggleView(false)" class="view-button @(ViewModel.IsMapView ? "" : "view-button-active")">Siatka</div>
                        <div @onclick="() => ViewModel.ToggleView(true)" class="view-button @(ViewModel.IsMapView ? "view-button-active" : "")">Mapa</div>
                    </div>
                </div>

                @if (!ViewModel.IsMapView)
                {
                    <div class="apartments-items-container">
                        @if (!string.IsNullOrEmpty(ViewModel.Error))
                        {
                            <p class="text-red-600">@ViewModel.Error</p>
                        }

                        @if (ViewModel.Items.Count > 0)
                        {
                            @foreach (var item in ViewModel.Items)
                            {
                                <Apartment Item="@item" Offer="@ViewModel.GetPricingOfferByObjectId(item.Id)" ShowPrice="@ViewModel.IsSearch"/>
                            }
                        }

                        @if (ViewModel.ApartmentsIsLoading)
                        {
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                        }
                    </div>   
                }
                
                <div class="apartments-items-map" style="display: @(ViewModel.IsMapView ? "block" : "none")">
                    <ApartmentsMap Offers="@ViewModel.Offers" IsSearch="@ViewModel.IsSearch"></ApartmentsMap>
                </div>      
                
            </div>
    </div>
</div>