@page "/apartamenty"
@using RentoomBookingWeb.Components.Features.Apartments.Components;
@using RentoomBooking.SharedClasses.Models.IdoBooking;
@using RentoomBooking.SharedClasses.Models.IdoBooking.Public;
@using RentoomBooking.SharedClasses.Models.RentoomBooking;
@inject IApartmentsService ApartmentsService;
@inject IRentoomOfferService RentoomOfferService;
@inject IJSRuntime JS;
@using System.Text.Json;
@using Microsoft.AspNetCore.WebUtilities;
@inject IApartmentsService ApartmentsApiService;
@inject NavigationManager NavManager;

<PageTitle>Apartamenty</PageTitle>

<div class="apartments-container">
    <HeaderSection ImagePath="/assets/images/header-bg-apartments.jpeg" Title="Apartamenty" Height="230px" />
    
    <div class="apartments-search-wrapper">
        <SearchBar
            StartDate="@_startDate"
            EndDate="@_endDate"
            Adults="@_adults"
            Children="@_children"
            Rooms="@_rooms"
            OnSearch="HandleSearch"
            />
    </div>
    
    <div class="apartments-items">
        
        <Filters />
        
        @if (!IsMapView)
        {
            <div class="apartments-items-wrapper">
                <div class="text-button-wrapper">
                    <h4>@ApartmentsCount apartamenty/ów</h4>
                    <div class="view-buttons-wrapper">
                        <div class="view-button-active">Siatka</div>
                        <div @onclick="OnMapView" class="view-button">Mapa</div>
                    </div>
                </div>
                <div class="apartments-items-container">
                    @if (!string.IsNullOrEmpty(Error))
                    {
                        <p class="text-red-600">@Error</p>
                    }
                
                    @if (Items.Count > 0)
                    {
                        @foreach (var item in Items) { 
                            <Apartment Item="@item" Offer="@GetPricingOfferByObjectId(int.Parse(item.Id))"/>
                        }
                    }
                </div>
            </div>
        }
        else
        {
            <div class="apartments-items-map">
                <div class="text-button-wrapper">
                    <h4>@ApartmentsCount apartamenty/ów</h4>
                    <div class="view-buttons-wrapper">
                        <div @onclick="OnListView" class="view-button">Siatka</div>
                        <div class="view-button-active">Mapa</div>
                    </div>
                </div>
                <ApartmentsMap></ApartmentsMap>
            </div>
        }
        
    </div>
</div>

@code {

    private long? ApartmentsCount;
    private bool IsLoading = true;
    private const int PageSize = 6;
    private readonly List<ApartmentObject> Items = new();
    private readonly List<PricingOffer> Offers = new();
    private string? Token;
    private bool ApartmentsIsloading;
    private bool HasMore = true;
    private string? Error;
    private DotNetObjectReference<Apartments>? ObjRef;
    private IJSObjectReference? JsModule;
    private bool IsMapView = false;

    protected override async Task OnInitializedAsync()
    {
        GetFiltersFromUrl();
        await GetApartmentsCount();
        await LoadMore();
        await GetFilteredOffers();
    }

    private async Task GetApartmentsCount()
    {
        IsLoading = true;
        try
        {
            ApartmentsCount = await ApartmentsService.GetApartmentsCountAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Wystąpił błąd: {ex.Message}");
            ApartmentsCount = null;
        }
        finally
        {
            IsLoading = false;
        }
    }
    
    private async Task LoadMore()
    {
        if (IsLoading || !HasMore) return;

        IsLoading = true;
        Error = null;

        try
        {
            var page = await ApartmentsService.GetApartmentsByPageAsync(Token, top: PageSize);
            if (page?.Items is { Count: > 0 })
            {
                Items.AddRange(page.Items);
                Token = page.ContinuationToken;
                HasMore = !string.IsNullOrEmpty(Token);
            }
            else
            {
                HasMore = false;
            }
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            HasMore = false; 
        }
        finally
        {
            IsLoading = false;
        }
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ObjRef = DotNetObjectReference.Create(this);
            JsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/infiniteScroll.js");
            await JsModule.InvokeVoidAsync("init", ObjRef);
        }
    }
    
    [JSInvokable]
    public async Task LoadMoreOnScroll()
    {
        if (!ApartmentsIsloading && HasMore)
        {
            await LoadMore();
            StateHasChanged();
        }
    }
    
    public async ValueTask DisposeAsync()
    {
        if (JsModule is not null && ObjRef is not null)
        {
            await JsModule.InvokeVoidAsync("unregister", ObjRef);
        }

        ObjRef?.Dispose();
        JsModule?.DisposeAsync();
    }

    private void OnListView()
    {
        IsMapView = false;
    }
    
    private void OnMapView()
    {
        IsMapView = true;
    }
    
    private async Task<List<ApartmentObject>?> GetAllApartments()
    {
        try
        {
            var page = await ApartmentsApiService.GetAllApartmentsList();
            var items = new List<ApartmentObject>();
            if (page?.Items is { Count: > 0 })
            {
                items?.AddRange(page.Items);
            }

            return items;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            return null;
        }
    }
    
    private string? _startDate = "";
    private string? _endDate = "";
    private string? _adults = "";
    private string? _children = "";
    private string? _rooms = "";

    private async Task GetFilteredOffers()
    {
        try
        {
            var items = new List<ApartmentObject>();
            items = await GetAllApartments();
            
            List<int> ids = items
                .Select(apartment => int.TryParse(apartment.Id, out var id) ? id : (int?)null)
                .Where(id => id.HasValue)
                .Select(id => id!.Value)
                .ToList();
            
            var idoParams = new PricingOffersRequest
            {
                ObjectIds = ids,
                DateFrom = _startDate,
                DateTo = _endDate,
                NumberOfAdults = int.TryParse(_adults, out var adults) ? adults : 0,
                NumberOfBigChildren = int.TryParse(_children, out var children) ? children : 0,
            };
            
            RentoomQueryOffer filters = new RentoomQueryOffer()
            {
                IdoOfferParams = idoParams,
                ApartmentFilterParams = new ApartmentFilters() 
            };
            
            var filteredOffers = await RentoomOfferService.getOfferWitFilter(filters);
            Offers.AddRange(filteredOffers.PricingOffers);
            
            // var json = JsonSerializer.Serialize(filteredOffers, new JsonSerializerOptions
            // {
            //     WriteIndented = true // ładne formatowanie
            // });
            //
            // Console.WriteLine("JSON OFERTY: ");
            // Console.WriteLine(json);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Wystąpił błąd: {ex.Message}");
        }
    }

    private void GetFiltersFromUrl()
    {
        var uri = NavManager.ToAbsoluteUri(NavManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);

        _startDate = query.TryGetValue("startDate", out var s) ? s : "";
        _endDate = query.TryGetValue("endDate", out var e) ? e : "";
        _adults = query.TryGetValue("adults", out var a) ? a : "";
        _children = query.TryGetValue("children", out var c) ? c : "";
        _rooms = query.TryGetValue("rooms", out var r) ? r : "";
    }

    private PricingOffer? GetPricingOfferByObjectId(int objectId)
    {
        return Offers.Find(item => item.ObjectId == objectId);
    }
    
    private async Task HandleSearch(Dictionary<string, string> query)
    {
        _startDate = query.GetValueOrDefault("startDate", "");
        _endDate = query.GetValueOrDefault("endDate", "");
        _adults = query.GetValueOrDefault("adults", "");
        _children = query.GetValueOrDefault("children", "");
        _rooms = query.GetValueOrDefault("rooms", "");

        Items.Clear();
        Offers.Clear();
        Token = null;
        HasMore = true;

        await GetApartmentsCount();
        await LoadMore();
        await GetFilteredOffers();

        StateHasChanged();
    }

}
