@page "/apartamenty"
@using RentoomBookingWeb.Components.Features.Apartments.Components
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<RentoomBookingWeb.Apartments> Localizer;

<PageTitle>@GetSeoTitle()</PageTitle>

<HeadContent>
    <meta name="description" content="@GetSeoDescription()" />
    <meta name="keywords" content="apartamenty na wynajem, noclegi, booking, rezerwacja apartamentów, rentoom" />
    <link rel="canonical" href="@NavManager.Uri" />

    <meta property="og:title" content="@GetSeoTitle()" />
    <meta property="og:description" content="@GetSeoDescription()" />
    <meta property="og:image" content="@GetSeoImage()" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@NavManager.Uri" />
    <meta property="og:locale" content="pl_PL" />
</HeadContent>

<div class="apartments-container">
    <HeaderSection ImagePath="/assets/images/header-bg-apartments.jpeg" Title="@Localizer["ApartmentsText"]" Height="230px" />

    <div class="apartments-search-wrapper">
        <SearchBar
            StartDate="@ViewModel.StartDate"
            EndDate="@ViewModel.EndDate"
            Adults="@ViewModel.Adults"
            Children="@ViewModel.Children"
            Rooms="@ViewModel.Rooms"
            OnSearch="@(async query => await ViewModel.HandleSearchAsync(query))"
        />
    </div>

    <div class="apartments-items">
        <Filters 
            @key="ViewModel.SliderResetKey"
            OnFiltersChanged="@(data => ViewModel.HandleFiltersChangedAsync(data))"
            OnClickOnMap="() => ViewModel.ToggleView(true)"
            MinPriceOffer="@ViewModel.ScaleMinPrice"
            MaxPriceOffer="@ViewModel.ScaleMaxPrice"
            IsMapActive="@ViewModel.IsMapView"
            InitialMinPrice="@ViewModel.FilterMinPrice"
            InitialMaxPrice="@ViewModel.FilterMaxPrice"
            />
        
            <div class="apartments-items-wrapper">
                <div class="text-button-wrapper">
                    @if (!ViewModel.ApartmentsIsLoading)
                    {
                        @if (ViewModel.IsSearch)
                        {
                            @if (ViewModel.Offers.Count > 0)
                            {
                                <h4>@ViewModel.Offers.Count @Localizer["AvailableOffers"]</h4>
                            }
                            else
                            {
                                <h4>@Localizer["NoOffersText1"]</h4>
                            }
                        }
                        else
                        {
                            <h4>@ViewModel.ApartmentsCount @Localizer["ApartmentsNumber"]</h4>
                        }   
                    }
                    else
                    {
                        <h4>@Localizer["Loading"]...</h4>
                    }
                    <div class="view-buttons-wrapper">
                        <div @onclick="() => ViewModel.ToggleView(false)" class="view-button @(ViewModel.IsMapView ? "" : "view-button-active")">@Localizer["Grid"]</div>
                        <div @onclick="() => ViewModel.ToggleView(true)" class="view-button @(ViewModel.IsMapView ? "view-button-active" : "")">@Localizer["Map"]</div>
                    </div>
                </div>

                @if (!ViewModel.IsMapView)
                {
                    <div class="apartments-items-container">
                        @if (!string.IsNullOrEmpty(ViewModel.Error))
                        {
                            <p class="text-red-600">@ViewModel.Error</p>
                        }

                        @if (ViewModel.Items.Count > 0)
                        {
                            @foreach (var item in ViewModel.Items)
                            {
                                <Apartment 
                                    @key="item.Id"
                                    Item="@item" 
                                    Offer="@ViewModel.GetPricingOfferByObjectId(item.Id)" 
                                    ShowPrice="@ViewModel.IsSearch"
                                    StartDate="@ViewModel.StartDate"
                                    EndDate="@ViewModel.EndDate"
                                    Adults="@ViewModel.Adults"
                                    Children="@ViewModel.Children"
                                    SuggestionDates="@ViewModel.GetSuggestionsByObjectId(item.Id)"
                                    />
                            }
                        }
                        
                        @if (ViewModel.ApartmentsIsLoading)
                        {
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                            <Apartment />
                        }
                    </div>   
                }
                
                <div id="scroll-anchor" style="height: 10px; width: 100%; visibility: @(ViewModel.IsMapView ? "hidden" : "visible"); pointer-events: none;"></div>

                <div class="apartments-items-map" style="display: @(ViewModel.IsMapView ? "block" : "none")">
                    <ApartmentsMap 
                        Offers="@ViewModel.Offers" 
                        IsSearch="@ViewModel.IsSearch" 
                        StartDate="@ViewModel.StartDate" 
                        EndDate="@ViewModel.EndDate" 
                        Adults="@ViewModel.Adults" 
                        Children="@ViewModel.Children"></ApartmentsMap>
                </div>      
                
            </div>
    </div>
</div>
