@inject NavigationManager Navigation;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<RentoomBookingWeb.Footer> Localizer;

<div class="footer">
    <div class="footer-section-logo">
        <div class="footer-logo">
            <img src="assets/svgs/logo-white.svg" alt="Rentoom - Apartamenty" class="logo-img"/>
        </div>
    </div>
    
    <div class="footer-content">
        <div class="footer-section footer-section-description border-b-r">
            <p class="footer-description">
                @Localizer["footerText1"]
            </p>
        </div>

        <div class="footer-section border-b-r">
            <h3 class="footer-title">@Localizer["contactText"]</h3>
            <p class="footer-text">@Localizer["CallUsText"] <br /><a href="tel:+48881388001" style="color: white">+48 881 388 001</a></p>
            <p class="footer-text">@Localizer["WriteUs"] <br /><a href="mailto:info@rentoom.pl" style="color: white">info@rentoom.pl</a></p>
        </div>

        <div class="footer-section">
            <h3 class="footer-title">@Localizer["Regulations1"]</h3>
            <ul class="footer-list">
                <li><a href="/regulaminy" class="footer-link" >@Localizer["Regulations2"]</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-social">
        <a href="#" aria-label="Rentoom na Facebooku"><img src="assets/svgs/fb-white.svg" alt="Facebook" class="social-icon"/></a>
        <a href="#" aria-label="Rentoom na Instagramie"><img src="assets/svgs/ig-white.svg" alt="Instagram" class="social-icon"/></a>
        <a href="#" aria-label="Rentoom na TikToku"><img src="assets/svgs/tk-white.svg" alt="TikTok" class="social-icon"/></a>
        <a href="#" aria-label="Rentoom na YouTube"><img src="assets/svgs/yt-white.svg" alt="YouTube" class="social-icon"/></a>
    </div>
</div>

<div class="footer-bottom">
    <a href="/apartamenty-torun" class="all-apartments-link">@Localizer["AllApartmentsText"]</a>
    @Localizer["DesignedText"]
</div>
