@inject IJSRuntime JS
@inject NavigationManager Navigation
@implements IAsyncDisposable
@using RentoomBookingWeb.Components.Enums;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> Localizer;

<div>
    <nav class="@NavState.NavClass" aria-label="Główne menu strony">
        <NavLink href="/">
            <img src="@NavState.Logo" alt="Ikona Rentoom">
        </NavLink>
        <ul>
            <li>
                <NavLink href="/apartamenty" class="@NavState.NavLinkClass" ActiveClass="nav-link">@Localizer["Apartments"]</NavLink>
            </li>
            @* <li> *@
            @*     <NavLink href="/o-nas" class="@NavState.NavLinkClass" ActiveClass="nav-link">@Localizer["About"]</NavLink> *@
            @* </li> *@
            <li>
                <NavLink href="/wspolpraca" class="@NavState.NavLinkClass" ActiveClass="nav-link">@Localizer["Cooperation"]</NavLink>
            </li>
            <li>
                <NavLink href="/kontakt" class="@NavState.NavLinkClass" ActiveClass="nav-link">@Localizer["Contact"]</NavLink>
            </li>
            <li>
                <NavLink href="https://designer.rentoom.pl/" target="_blank" class="@NavState.NavLinkClass" ActiveClass="nav-link">@Localizer["RentoomDesigner"]</NavLink>
            </li>
            <li>
                <NavLink href="/polozenie-torunia" class="@NavState.NavLinkClass" ActiveClass="nav-link">@Localizer["AboutCity"]</NavLink>
            </li>
             <li>
                 <NavLink href="https://app.rentoom.pl/" class="@NavState.NavLinkClass" ActiveClass="nav-link">@Localizer["ForInvestors"]</NavLink>
            </li>
            


        </ul>

        <div class="bar">
            @* <div class="menu-button"> *@
            @*     <Button Type="@NavState.ButtonTypeClass">@Localizer["CallUs"]</Button> *@
            @* </div> *@
            <a href="https://www.facebook.com/RentoomApartamenty" target="_blank" rel="noopener noreferrer" aria-label="Facebook Rentoom Apartamenty">
                <img src="@NavState.Facebook" class="menu-icon fb" alt="Ikona Facebook">
            </a>
            <a href="https://www.instagram.com/rentoomapartamenty/" target="_blank" rel="noopener noreferrer" aria-label="Instagram Rentoom Apartamenty">
                <img src="@NavState.Instagram" class="menu-icon ig" alt="Ikona Instagram">
            </a>
            <ChangeGlobal IsScrolling="IsScrolling"/>
            @if (ShowMenu)
            {
                <img @onclick="OnBurgerClick" src="@NavState.XIcon" class="menu-icon burger" alt="Ikona X">
            }
            else
            {
                <img @onclick="OnBurgerClick" src="@NavState.Burger" class="menu-icon burger" alt="Ikona Burger">
            }
        </div>
    </nav>

    @if (ShowMenu)
    {
        <div class="mobile-nav">
            <div>
                <NavLink href="/apartamenty" class="nav-link" ActiveClass="nav-link">@Localizer["Apartments"]</NavLink>
            </div>
            @* <div> *@
            @*     <NavLink href="/o-nas" class="nav-link" ActiveClass="nav-link">@Localizer["About"]</NavLink> *@
            @* </div> *@
            <div>
                <NavLink href="/wspolpraca" class="nav-link" ActiveClass="nav-link">@Localizer["Cooperation"]</NavLink>
            </div>
            <div>
                <NavLink href="/kontakt" class="nav-link" ActiveClass="nav-link">@Localizer["Contact"]</NavLink>
            </div>
            <div>
                <NavLink href="https://designer.rentoom.pl/" target="_blank" class="nav-link" ActiveClass="nav-link">@Localizer["RentoomDesigner"]</NavLink>
            </div>
            <div>
                <NavLink href="https://app.rentoom.pl/" target="_blank" class="nav-link" ActiveClass="nav-link">@Localizer["ForInvestors"]</NavLink>
            </div>
            @* <div> *@
            @*     <NavLink href="/inne" class="nav-link" ActiveClass="nav-link">@Localizer["Others"]</NavLink> *@
            @* </div> *@
        </div>
    }
</div>

@code {
    private DotNetObjectReference<Menu>? objRef;
    private IJSObjectReference? menuScrollModule;
    private MenuVisualState NavState { get; set; } = new();
    private bool ShowMenu = false;
    private bool IsScrolling = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            objRef = DotNetObjectReference.Create(this);
            menuScrollModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/menuScroll.js");
            await menuScrollModule.InvokeVoidAsync("init", objRef);

            Navigation.LocationChanged += OnLocationChanged;
        }
    }

    [JSInvokable]
    public void OnScrollChanged(double scrollTop)
    {
        NavState = scrollTop > 0
            ? new MenuVisualState
            {
                NavClass = "scrolled-nav",
                NavLinkClass = "scrolled-nav-link nav-link",
                Logo = "/assets/svgs/logo-color.svg",
                Search = "/assets/svgs/search-green.svg",
                Facebook = "/assets/svgs/fb-green.svg",
                Instagram = "/assets/svgs/ig-green.svg",
                Burger = "/assets/svgs/burger-green.svg",
                XIcon = "/assets/svgs/x-green.svg",
                ButtonTypeClass = ButtonType.Secondary,
            }
            : new MenuVisualState
            {
                NavClass = "top-nav",
                NavLinkClass = "nav-link",
                Logo = "/assets/svgs/logo-white.svg",
                Search = "/assets/svgs/search-white.svg",
                Facebook = "/assets/svgs/fb-white.svg",
                Instagram = "/assets/svgs/ig-white.svg",
                Burger = "/assets/svgs/burger-white.svg",
                XIcon = "/assets/svgs/x-white.svg",
                ButtonTypeClass = ButtonType.Primary,
            };

        if (scrollTop > 0)
        {
            IsScrolling = true;
        }
        else
        {
            IsScrolling = false;
        }

        StateHasChanged();
    }

    private void OnBurgerClick()
    {
        ShowMenu = !ShowMenu;
    }

    private void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        if (ShowMenu)
        {
            ShowMenu = false;
            InvokeAsync(StateHasChanged);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (menuScrollModule is not null)
        {
            try
            {
                await menuScrollModule.InvokeVoidAsync("dispose");
                await menuScrollModule.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
                // Ignore: user navigated away or circuit disconnected.
            }
        }

        objRef?.Dispose();
        Navigation.LocationChanged -= OnLocationChanged;
    }

    private class MenuVisualState
    {
        public string NavClass { get; set; } = "top-nav";
        public string NavLinkClass { get; set; } = "nav-link";
        public string Logo { get; set; } = "/assets/svgs/logo-white.svg";
        public string Search { get; set; } = "/assets/svgs/search-white.svg";
        public string Facebook { get; set; } = "/assets/svgs/fb-white.svg";
        public string Instagram { get; set; } = "/assets/svgs/ig-white.svg";
        public string Burger { get; set; } = "/assets/svgs/burger-white.svg";
        public string XIcon { get; set; } = "/assets/svgs/x-white.svg";
        public ButtonType ButtonTypeClass { get; set; } = ButtonType.Primary;
    }
}
