@inherits ComponentBase;
@using RentoomBookingWeb.Components.Enums;
@implements IAsyncDisposable

@using Microsoft.JSInterop
@inject IJSRuntime JS

@if (!string.IsNullOrEmpty(Href))
{
    <a @ref="elementRef" href="@Href" @onclick="HandleClick" class="@GetFullClass()" @attributes="AdditionalAttributes">
        @if (IsBusy)
        {
            <span class="spinner"></span>
        }
        <span style="white-space: nowrap;">@ChildContent</span>
    </a>
}
else
{
    <button @ref="elementRef" @attributes="AdditionalAttributes" @onclick="HandleClick" disabled="@(Disabled || IsBusy)" class="@GetFullClass()">
        @if (IsBusy)
        {
            <span class="spinner"></span>
        }
        <span style="white-space: nowrap;">@ChildContent</span>
    </button>
}

@code {
    private ElementReference elementRef;
    private IJSObjectReference? _buttonModule;
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public bool IsBusy { get; set; } = false;
    [Parameter] public ButtonType Type { get; set; } = ButtonType.Primary;
    [Parameter] public string? Href { get; set; }
    [Parameter] public string? Class { get; set; }
    [Parameter(CaptureUnmatchedValues = true)] public Dictionary<string, object>? AdditionalAttributes { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _buttonModule = await JS.InvokeAsync<IJSObjectReference>("import", "/js/buttonHelper.js");
        }
    }

    private async Task HandleClick(MouseEventArgs e)
    {
        if (!Disabled && !IsBusy)
        {
            if (_buttonModule is not null)
            {
                await _buttonModule.InvokeVoidAsync("createRipple", e, elementRef);
            }

            if (OnClick.HasDelegate)
            {
                await OnClick.InvokeAsync(e);
            }
        }
    }

    private string GetFullClass()
    {
        var baseClass = GetButtonClass();
        if (Disabled) baseClass += " disabled";
        if (IsBusy) baseClass += " busy";
        
        return $"{baseClass} {Class}".Trim();
    }

    private string GetButtonClass() => Type switch
    {
        ButtonType.Primary => "custom-button",
        ButtonType.Secondary => "custom-button secondary",
        ButtonType.Tertiary => "custom-button tertiary",
        _ => "custom-button"
    };

    public async ValueTask DisposeAsync()
    {
        if (_buttonModule is not null)
        {
            try
            {
                await _buttonModule.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
                // Ignore: user navigated away or circuit disconnected.
            }
        }
    }
}
