@using System.Globalization
@using RentoomBooking.SharedFrontend.Localization
@inject NavigationManager Navigation

<div class="language-switcher-container">
    @* Dodano warunkową klasę 'scrolled' *@
    <div class="language-switcher-button @(IsScrolling ? "scrolled" : "")" @onclick="ToggleDropdown">
        <span class="language-icon">
            <img src="@(IsScrolling ? "assets/svgs/globe-green.svg" : "assets/svgs/globe.svg")" alt="Globe icon"/>
        </span>
        <span class="language-code">@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName.ToUpper()</span>
    </div>

    @if (_isDropdownOpen)
    {
        <div class="language-dropdown">
            @foreach (var culture in _supportedCultures)
            {
                <button @onclick="(() => ApplySelectedCultureAsync(culture.Name))"
                        class="@(CultureInfo.CurrentUICulture.Name == culture.Name ? "active" : "")">
                    @SupportedLanguagesProvider.GetLanguageLabel(culture)
                </button>
            }
        </div>
    }
</div>

@code
{
    [Parameter] public bool IsScrolling { get; set; } = false;
    
    private bool _isDropdownOpen = false;
    
    private readonly IReadOnlyList<CultureInfo> _supportedCultures = SupportedLanguagesProvider.SupportedCultures;

    private void ToggleDropdown() => _isDropdownOpen = !_isDropdownOpen;

    private void ApplySelectedCultureAsync(string selectedCulture)
    {
        if (CultureInfo.CurrentUICulture.Name == selectedCulture)
        {
            _isDropdownOpen = false;
            return;
        }

        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        var returnUrl = $"{uri.AbsolutePath}{uri.Query}{uri.Fragment}";
        var cultureQuery = Uri.EscapeDataString(selectedCulture);
        var returnUrlQuery = Uri.EscapeDataString(returnUrl);
        var newUri = $"/culture/set?culture={cultureQuery}&returnUrl={returnUrlQuery}";

        _isDropdownOpen = false; 
        Navigation.NavigateTo(newUri, forceLoad: true);
    }
}

