<div class="custom-input" style="@GetStyle()">
    @if (!string.IsNullOrEmpty(IconPath))
    {
        <img src="@IconPath" alt="" class="input-icon"/>
    }
    <input 
        type="@Type" 
        value="@Value" 
        @oninput="OnValueChanged" 
        placeholder="@Placeholder" 
    />
</div>

@code {
    [Parameter] public string Value { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> ValueChanged { get; set; }
    [Parameter] public string? IconPath { get; set; }
    [Parameter] public string Placeholder { get; set; } = "";
    [Parameter] public string Type { get; set; } = "text";
    [Parameter] public bool IsFull { get; set; } = false;
    [Parameter] public bool IsMarginTop { get; set; } = false;

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        Value = e.Value?.ToString() ?? "";
        await ValueChanged.InvokeAsync(Value);
    }

    private string? GetStyle()
    {
        var style = IsFull ? "width: 100%;" : null;
        if (IsMarginTop)
        {
            style = string.IsNullOrEmpty(style) ? "margin-top: .5rem;" : style + " margin-top: .5rem;";
        }
        return style;
    }
}