@using Microsoft.Extensions.Localization;
@using RentoomBooking.SharedClasses.Models.IdoBooking;
@using RentoomBooking.SharedClasses.Models.ReservationWorkflow
@using RentoomBookingWeb.Components.Features.Apartments.Components;
@inject IStringLocalizer<RentoomBookingWeb.Payment> Localizer;

<div class="order-wrapper">
    @if (Apartment != null)
    {
        <div style="width: 100%;">
            <div style="margin: 0 auto; max-width: 500px;">
                <Apartment
                    Item="@Apartment"
                    Readonly="true"
                    DisableForGoToReservation="true"/>
            </div>
        </div>
    }
    else
    {
        <div style="width: 100%;">
            <div style="margin: 0 auto; max-width: 500px;">
                <Apartment 
                    Readonly="true"
                    DisableForGoToReservation="true"
                /> 
            </div>
        </div>
    }
            
    <div class="summary-box">
        <div class="form-wrapper-title">
            <div class="form-wrapper-title-icon-wrapper">
                <img src="assets/svgs/calendar-2.svg" alt="ikona uzytkownika">
            </div> 
            <div class="form-wrapper-title-text">
                <h3 class="summary-box-title">@Localizer["YourStay"]</h3>
                <p class="summary-box-dates">
                    @Localizer["From"] @(Summary?.StartRequest?.StartDate.ToString("dd.MM.yyyy") + " " + Summary?.StartRequest?.CheckInTime.ToString("HH:mm") ?? "---") @Localizer["To"] @(Summary?.StartRequest?.EndDate.ToString("dd.MM.yyyy") + " " + Summary?.StartRequest?.CheckOutTime.ToString("HH:mm") ?? "---")
                </p>
            </div>
        </div>
        <hr style="margin: 0;">
                
        <div class="summary-box-prices">
            <div class="summary-box-prices-text">
                <span>@_pricePerNight @Summary?.StartRequest?.Currency x @_totalDays @Localizer["NightsText"]</span>
                <b>@_basePrice @Summary?.StartRequest?.Currency</b>
            </div>
            @if (Summary?.StartRequest?.SelectedAddons?.Count > 0)
            {
                @foreach (SelectedAddonDto addon in Summary.StartRequest.SelectedAddons)
                {
                    <div class="summary-box-prices-text">
                        <span>@GetAddonName(@addon.AddonId)</span>
                        <b>@addon.Price zł</b>
                    </div>
                }
            }

            @if (Summary?.StartRequest?.SelectedUpsells?.Count > 0)
            {
                @foreach (var upsell in Summary.Upsells)
                {
                    <div class="summary-box-prices-text">
                        <span>@upsell.Title</span>
                        <b>@upsell.LineTotalGross.ToString("N2") @Summary.Currency</b>
                    </div>
                }
            }


        </div>
        <hr style="margin: 0;">
                
        <div class="summary-box-prices-text">
            <b style="font-size: 1.2rem;">@Localizer["SummaryText"]</b>
            <b style="font-size: 1.2rem;">@Summary?.GrandTotal.ToString("N2") @Summary?.Currency</b>
        </div>
    </div>
</div>

@code
{
    [Parameter] public ReservationSummaryDto? Summary { get; set; }
    [Parameter] public ApartmentObject? Apartment { get; set; }
    
    private int _totalDays;
    private decimal _pricePerNight;
    private decimal _basePrice;

    protected override void OnParametersSet()
    {
        var start = Summary?.StartRequest?.StartDate;
        var end = Summary?.StartRequest?.EndDate;

        if (start != null && end != null)
        {
            _totalDays = end.Value.DayNumber - start.Value.DayNumber;
            if (_totalDays <= 0) _totalDays = 1;

            if (Summary?.StartRequest?.OfferPrice != null)
            {
                var addonsTotal = (decimal)(Summary.StartRequest.SelectedAddons?.Sum(a => a.Price * a.Quantity) ?? 0);
                _basePrice = (Summary.StartRequest.OfferPrice ?? 0) - addonsTotal;
                _pricePerNight = Math.Round(_basePrice / _totalDays, 2);
            }
        }
    }

    private string GetAddonName(int idoId)
    {
        if (Apartment?.Addons != null)
        {
            return Apartment.Addons.FirstOrDefault(item => item.Id == idoId)?.Name ?? "Dodatek";
        }
        return "Dodatek";
    }
}