<div class="filters-container">
    <p class="filters-title">Gdzie chcesz się zameldować?</p>

    <div class="filters">
        @foreach (var option in Locations)
        {
            <div class="@(option.IsSelected ? "filter-option selected" : "filter-option")">
                <img class="filter-icon" src="@option.Icon" alt="@option.Name">
                <InputCheckbox @bind-Value="option.IsSelected" id="@option.Name" style="visibility: hidden;"/>
                <label for="@option.Name">@option.Name</label>
            </div>
        }
    </div>

    <hr />

    @* <p class="filters-title">Liczba osób</p> *@
    @* <Input IconPath="/assets/svgs/person.svg" Placeholder="Ilość osób" Type="number" @bind-Value="FormData.PeopleCount" IsFull="true"/> *@

    @* <hr /> *@

    <p class="filters-title">Filtry</p>
    <div class="filters">
        @foreach (var filter in FilterOptions)
        {
            <div class="@(filter.IsSelected ? "filter-option selected" : "filter-option")">
                <img class="filter-icon" src="@filter.Icon" alt="@filter.Name">
                <InputCheckbox @bind-Value="filter.IsSelected" id="@filter.Name" style="visibility: hidden;"/>
                <label for="@filter.Name">@filter.Name</label>
            </div>
        }
    </div>
</div>

@code {
    private ReservationForm FormData = new ReservationForm();

    private List<FilterOption> Locations = new()
    {
        new FilterOption("Serce starówki", "assets/images/filter/heart.png"),
        new FilterOption("Poza starówką", "assets/images/filter/smart-city.png"),
        new FilterOption("Na obrzeżach starówki", "assets/images/filter/mountain-road.png")
    };

    private List<FilterOption> FilterOptions = new()
    {
        new FilterOption("Balkon", "assets/images/filter/balcony.png"),
        new FilterOption("Dla rodzin z dziećmi", "assets/images/filter/family.png"),
        new FilterOption("Parking", "assets/images/filter/parking.png"),
        new FilterOption("Plac zabaw", "assets/images/filter/playground.png"),
        new FilterOption("Pobyt biznesowy", "assets/images/filter/briefcase.png"),
        new FilterOption("Podróż z pupilem", "assets/images/filter/paw.png"),
        new FilterOption("Winda", "assets/images/filter/elevator.png"),
        // new FilterOption("Osobne łóżka", "assets/images/filter/heart.png"),
        new FilterOption("Klimatyzacja", "assets/images/filter/air-conditioner.png"),
        new FilterOption("Udogodnienia dla niepełnosprawnych", "assets/images/filter/disability.png")
    };

    public class ReservationForm
    {
        public string PeopleCount { get; set; } = string.Empty;
    }

    public class FilterOption
    {
        public string Name { get; }
        public bool IsSelected { get; set; }
        public string Icon { get; set; }

        public FilterOption(string name, string icon)
        {
            Name = name;
            Icon = icon;
        }
    }
}
