@page "/reservation/{token}/AboutReservationPage"
@using RentoomBooking.StayWell.Components
@using RentoomBooking.SharedClasses.Models.IdoBooking;
@using RentoomBooking.StayWell.States
@inject NavigationManager Navigation
@inherits Models.PageBase

<PageTitle>About Reservation</PageTitle>

<div class="page-info-wrapper">
    <PageInfo Title="@Reservation?.Items.FirstOrDefault()?.objectName" Subtitle="O rezerwacji"></PageInfo>
</div>

<div class="amenities-wrapper"> @* ---- Zmontować z tego komponenty i uporządkować ---- *@
    <div class="amenity">
        <span><img src="/icons/users.svg"/>Założyciel rezerwacji:</span>
        <span class="text">@Reservation?.Client.FirstName @Reservation?.Client.LastName</span>
    </div>
    @* <div class="amenity">
        <span><img src="/icons/map-pin.svg" />Adres:</span>
        <span class="text">@Apartment?.ObjectLocation?.Address</span>
    </div> *@
    <div class="amenity">
        <span><img src="/icons/door-open.svg" />Apartament:</span>
        <span class="text">@Reservation?.Items?.FirstOrDefault()?.itemCode</span>
    </div>

    <div class="amenity">
        <span><img src="/icons/clock.svg" />Doba hotelowa:</span>
        <span class="text">Godzina zameldowania: <span>15:00</span></span> @* Zmieniać wraz wcześniejszym/późniejszym wymeldowaniem *@
        <span class="text">Godzina wymeldowania: <span>11:00</span></span>
    </div>

    @if (AmenitiesState.CurrentAmenities?.Count > 0)
    {
        <div class="amenity">
                <span><img src="/icons/bed-double.svg"/>Wyposażenie apartamentu:</span>
                <button @onclick="ShowAmenities">@(showAmenities ? "Ukryj wyposażenie":"Pokaż wyposażenie")</button>
                @if (showAmenities)
                {
                    <ul>
                        @foreach (var amenity in AmenitiesState.CurrentAmenities)
                        {
                            <li>@amenity.Name</li>
                        }
                    </ul>
                }

            </div>
    }
    <div class="amenity">
        <span><img src="/icons/file-user.svg"/>Regulamin:</span>
        <span class="text">Data akceptacji: <span>@TermsState.CurrentTerms.AcceptedAt.ToShortDateString()</span></span>
        <button>Wyświetl cały regulamin</button>
    </div>
    <div class="amenity">
        <span><img src="/icons/users.svg"/>Zarejestrowani goście:</span>
        <ul>
            @foreach(var guest in RegistrationCardState.CurrentCard.GuestsData)
            {
                <li>
                    @guest.FirstName @guest.LastName
                </li>
            }
        </ul>
    </div>
</div>

@code{

    private bool showAmenities = false;

    private Reservation? Reservation => ReservationState?.CurrentReservation?.Reservation;
    private ApartmentObject? Apartment => ApartmentState?.CurrentApartment;

    private void ShowAmenities()
    {
        showAmenities = !showAmenities;
    }



}
