@page "/reservation/{token}/AboutReservationPage"
@using RentoomBooking.StayWell.Components
@using Microsoft.Extensions.Localization
@using System.Globalization
@using RentoomBooking.SharedClasses.Models.IdoBooking;
@using RentoomBooking.StayWell.States
@inject IStringLocalizer<AboutReservationPage> Localizer
@inject NavigationManager Navigation
@inherits Models.PageBase

<PageTitle>About Reservation</PageTitle>

<div class="reservation-page">
    @* <div class="reservation-page__header">
        <PageInfo Title="@Reservation?.Items.FirstOrDefault()?.objectName"
                  Subtitle="O rezerwacji"></PageInfo>
    </div> *@

    <div class="reservation-page__sections">
        <section class="reservation-section">
            <header class="reservation-section__header">
                <h3 class="reservation-section__title">@Localizer["BookingDetailsTitle"]</h3>
            </header>

            <div class="reservation-section__content">
                <div class="reservation-field">
                    <span class="reservation-field__label">
                        <img class="reservation-field__icon" src="/icons/users.svg" />
                        @Localizer["Name"]:
                    </span>
                    <span class="reservation-field__value">
                        @Reservation?.Client.FirstName @Reservation?.Client.LastName
                    </span>
                </div>

                <div class="reservation-field">
                    <span class="reservation-field__label">
                        <img class="reservation-field__icon" src="/icons/mail.svg" />
                        @Localizer["ContactMail"]:
                    </span>
                    <span class="reservation-field__value">
                        @RegistrationCardState.CurrentCard?.ContactEmail
                    </span>
                </div>

                <div class="reservation-field">
                    <span class="reservation-field__label">
                        <img class="reservation-field__icon" src="/icons/users.svg" />
                        @Localizer["RegisteredGuests"]:
                    </span>

                    <div class="guest-list">
                        @foreach (var (guest, index) in RegistrationCardState?.CurrentCard?.GuestsData?.Select(
                                                (g, i) => (g, i)))
                        {
                            <div class="guest-card">
                                <div class="guest-card__avatar">@(index+1)</div>
                                <div class="guest-card__body">
                                    <div class="guest-card__row">
                                        <span class="guest-card__label">@Localizer["Name"]</span>
                                        <span class="guest-card__value">@guest.FirstName</span>
                                    </div>

                                    <div class="guest-card__row">
                                        <span class="guest-card__label">@Localizer["Surname"]</span>
                                        <span class="guest-card__value">@guest.LastName</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>

        <section class="reservation-section">
            <header class="reservation-section__header">
                <h3 class="reservation-section__title">@Localizer["ApartmentAndStayTitle"]</h3>
            </header>

            <div class="reservation-section__content">
                <div class="reservation-field">
                    <span class="reservation-field__label">
                        <img class="reservation-field__icon" src="/icons/door-open.svg" />
                        @Localizer["Apartment"]:
                    </span>
                    <span class="reservation-field__value">
                        @Reservation?.Items?.FirstOrDefault()?.itemCode
                    </span>
                </div>

                <div class="reservation-field">
                    <span class="reservation-field__label">
                        <img class="reservation-field__icon" src="/icons/map-pin.svg" />
                        @Localizer["Address"]:
                    </span>
                    <span class="reservation-field__value">
                        @ApartmentState.CurrentApartment?.ObjectLocation?.Address
                    </span>
                </div>

                <div class="reservation-field">
                    <span class="reservation-field__label">
                        <img class="reservation-field__icon" src="/icons/clock.svg" />
                        @Localizer["CheckinCheckOutTime"]:
                    </span>

                    <span class="reservation-field__value">
                        @Localizer["CheckInTime"]: <span>15:00</span>
                    </span>
                    <span class="reservation-field__value">
                        @Localizer["CheckOutTime"]: <span>11:00</span>
                    </span>
                </div>

                <div class="reservation-field">
                    <span class="reservation-field__label">
                        <img class="reservation-field__icon" src="/icons/calendar-days.svg" />
                        @Localizer["StayDates"]:
                    </span>

                    <span class="reservation-field__value">
                        @Localizer["CheckInTime"]: <span>@ReservationState.CurrentReservation.Reservation.ReservationDetails.getDateFrom().ToString("dd.MM.yyyy")</span>
                    </span>
                    <span class="reservation-field__value">
                        @Localizer["CheckOutTime"]: <span>@ReservationState.CurrentReservation.Reservation.ReservationDetails.getDateTo().ToString("dd.MM.yyyy")</span>
                    </span>
                </div>

                @if (AmenitiesState.CurrentAmenities?.Count > 0)
                {
                    <div class="reservation-field">
                        <span class="reservation-field__label">
                            <img class="reservation-field__icon" src="/icons/bed-double.svg" />
                            @Localizer["ApartmentAmenities"]:
                        </span>

                        <button class="reservation-field__action"
                                @onclick="ShowAmenities">
                            @(showAmenities ? Localizer["HideAmenitiesButton"] : Localizer["ShowAmenitiesButton"])
                        </button>

                        @if (showAmenities)
                        {
                            <ul class="reservation-field__list">
                                @foreach (var amenity in AmenitiesState.CurrentAmenities)
                                {
                                    <li class="reservation-field__list-item">
                                        @amenity.Name
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                }
            </div>
        </section>

        <section class="reservation-section">
            <header class="reservation-section__header">
                <h3 class="reservation-section__title">@Localizer["TOSConsents"]:</h3>
            </header>

            <div class="reservation-section__content">
                <div class="reservation-field">
                    <span class="reservation-field__label">
                        <img class="reservation-field__icon" src="/icons/file-user.svg" />
                        @Localizer["TOS"]:
                    </span>

                    <span class="reservation-field__value">
                        @Localizer["AcceptanceDate"]:
                        <span>@TermsState.CurrentTerms.AcceptedAt.ToShortDateString()</span>
                    </span>

                    <button class="reservation-field__action">
                        @Localizer["ShowFullTOSButton"]
                    </button>
                </div>
                <div class="reservation-field">
                    <span class="reservation-field__label">
                        <img class="reservation-field__icon" src="/icons/list-checks.svg" />
                        @Localizer["Consents"]:
                    </span>

                    <div class="consent-toggle">
                        <ToggleSwitch @bind-Value="marketingConsent"
                                      Text="@Localizer["MarketingConsent"]"
                                      Description="@Localizer["MarketingDescription"]" />
                    </div>

                    <div class="consent-toggle">
                        <ToggleSwitch @bind-Value="rodoConsent"
                                      Text="@Localizer["GDPRConsent"]"
                                      Description="@Localizer["GDPRDescription"]" />
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
@code{

    private bool showAmenities = false;
    private bool marketingConsent = true;
    private bool rodoConsent = true;

    private Reservation? Reservation => ReservationState?.CurrentReservation?.Reservation;
    private ApartmentObject? Apartment => ApartmentState?.CurrentApartment;

    private void ShowAmenities()
    {
        showAmenities = !showAmenities;
    }



}
