@page "/reservation/{token}/ClubPage"
@using RentoomBooking.StayWell.Components
@inherits Models.PageBase

<PageTitle>Club Page</PageTitle>

<ClubFilters OnFiltersChanged="HandleFiltersChanged"></ClubFilters>

<div>
    <Button>
        <RenderFragment>
            <span><img src="/icons/map.svg" /> Zobacz na mapie</span>
        </RenderFragment>
    </Button>
</div>

<div class="cards-wrapper">
    @foreach (var partner in FilteredPartners)
    {
        <PartnerCard Href="@($"/reservation/{Token}/PartnerPage")"
                     Offer="@partner.Offer"
                     PartnerName="@partner.Name"
                     PartnerDescription="@partner.Description"
                     Image="@partner.Image">
        </PartnerCard>
    }

    @if (!FilteredPartners.Any())
    {
        <div style="padding: 20px; text-align: center; color: #666;">
            Niestety, nic nie pasuje dla dobranych filtrów.
        </div>
    }
</div>

@code {
    private class PartnerModel
    {
        public string Name { get; set; } = "";
        public string Description { get; set; } = "";
        public string Offer { get; set; } = "";
        public string Image { get; set; } = "";
        public string FilterTag { get; set; } = "";
    }

    private List<string> _activeFilters = new();

    private List<PartnerModel> _allPartners = new()
    {
        new PartnerModel //tymczasowe dane
        {
            Name = "Dom Pizzy i Tapas",
            Description = "Unikatowe połączenie hiszpańskiej kuchni i pizzy neapolitańskiej.",
            Offer = "-10%",
            Image = "/images/test_images/picmain.jpg",
            FilterTag = "🍕 Jedzenie",
        },
        new PartnerModel
        {
            Name = "Omni Kaiser Patisserie",
            Description = "Tworzymy słodkie delicje, by zachwycać pięknem.",
            Offer = "-10%, śniadanie za 39 pln",
            Image = "https://omnikaiser.pl/wp-content/uploads/2023/08/9W5A2077-kopia-scaled-e1693253082136.jpg",
            FilterTag = "🧁 Słodkie",
        },
        new PartnerModel
        {
            Name = "Centrum Sportu i Rekreacji OLENDER",
            Description = "Odpocznij po ciężkim dniu.",
            Offer = "-20% na wszystko",
            Image = "https://wa-uploads.profitroom.com/centrumsportuirekreacjiolender/1920x1080/17327008291127_olenderaquapark.jpg",
            FilterTag = "🧖‍ Wypoczynek",
        }
    };

    private IEnumerable<PartnerModel> FilteredPartners
    {
        get
        {
            if (_activeFilters == null || !_activeFilters.Any())
            {
                return _allPartners;
            }
            return _allPartners.Where(p => _activeFilters.Contains(p.FilterTag));
        }
    }

    private void HandleFiltersChanged(List<string> activeFilters)
    {
        _activeFilters = activeFilters;
    }
}