@page "/HomePage"
@using RentoomBooking.SharedClasses.Models.IdoBooking
@using RentoomBooking.StayWell.Components
@using RentoomBooking.StayWell.States
@inject NavigationManager Navigation
@inject ReservationState ReservationState
@inject MediaState MediaState
@implements IDisposable

<PageTitle>Main</PageTitle>

    <div class="image-wrapper">
    <ApartmentImage Source="@ImageUrl">

        </ApartmentImage>
    </div>


<div class="reservation-info-wrapper">
    <ReservationInfo apartmentName="@ApartmentName"
        apartmentAddress="(apartmentAddress)"
        apartmentNumber="@ApartmentNumber"
        reservationCheckInDate="@ReservationDateFrom"
        reservationCheckOutDate="@ReservationDateTo">
    </ReservationInfo>
</div>

<div class="buttons-wrapper">

    <Button OnClick="@(() => Navigation.NavigateTo("/ClubPage"))" Text="Klub Korzyści Rentoom" ButtonStyle="border-color: #F9B806; color: #F9B806; background-color: #21573e; margin-bottom: 2rem;">
        <Icon>
            <img src="/icons/hand-coins.svg" alt="ClubPaged">
        </Icon>
    </Button>

    <Button OnClick="@(() => Navigation.NavigateTo("/InstructionsPage"))" Text="Instrukcja Zameldowania">
        <Icon>
            <img src="/icons/book.svg" alt="InstructionsPage">
        </Icon>
    </Button>

    <Button OnClick="@(() => Navigation.NavigateTo("/OpenApartmentPage"))" Text="Otwórz Apartament">
        <Icon>
            <img src="/icons/door-open.svg" alt="OpenApartmentPage">
        </Icon>
    </Button>

    <Button OnClick="@(() => Navigation.NavigateTo("/AboutReservationPage"))" Text="O rezerwacji">
        <Icon>
            <img src="/icons/info.svg" alt="AboutReservationPage">
        </Icon>
    </Button>

    <Button OnClick="@(() => Navigation.NavigateTo("/ManageStayPage"))" Text="Zarządzaj pobytem">
        <Icon>
            <img src="/icons/lamp.svg" alt="ManageStayPage">
        </Icon>
    </Button>

</div>

@code
{
    public string? ApartmentName;
    public string? ApartmentNumber;
    public string? ReservationDateFrom;
    public string? ReservationDateTo;
    public string? ImageUrl;

    protected override void OnInitialized()
    {
        ReservationState.OnChange += StateHasChanged;
        MediaState.OnChange += StateHasChanged;
        LoadData();
    }

    private void LoadData()
    {
        RentoomReservation? currentReservation = ReservationState.CurrentReservation;
        List<ObjectMedium>? currentMedia = MediaState.CurrentMedia;
        if(currentMedia?[0].Extension == "jpg")
        {   
            ImageUrl = currentMedia?[0].Url;
        }
        ApartmentName = currentReservation?.Reservation.Items?.FirstOrDefault()?.objectName;
        ApartmentNumber = currentReservation?.Reservation.Items?.FirstOrDefault()?.itemCode;
        ReservationDateFrom = currentReservation?.Reservation.ReservationDetails?.dateFrom;
        ReservationDateTo = currentReservation?.Reservation.ReservationDetails?.dateTo;
    }

    public void Dispose()
    {
        ReservationState.OnChange -= StateHasChanged;
        MediaState.OnChange -= StateHasChanged;
    }

}