@page "/HomePage"
@using RentoomBooking.StayWell.Components
@inject NavigationManager Navigation

<PageTitle>Main</PageTitle>

    <div class="image-wrapper">
        <ApartmentImage Source="https://rentoom.pl/wp-content/uploads/2020/05/DSC00717-Edit-1920x1080.jpg">

        </ApartmentImage>
    </div>


<div class="reservation-info-wrapper">
    <ReservationInfo apartmentName="Szeroka Premier No 2A"
        apartmentAdress="Szeroka 31"
        apartmentNumber="2A"
        reservationCheckInDate="20.05.2025, 15:00"
        reservationCheckOutDate="30.05.2025, 11:00">
    </ReservationInfo>
</div>

<div class="buttons-wrapper">

    <Button OnClick="@(() => Navigation.NavigateTo("/"))" Text="Klub Korzyści Rentoom" ButtonStyle="border-color: #F9B806; color: #F9B806; background-color: #21573e; margin-bottom: 2rem;">
        <Icon>
            <img src="/icons/hand-coins.svg">
        </Icon>
    </Button>

    <Button OnClick="@(() => Navigation.NavigateTo("/InstructionsPage"))" Text="Instrukcja Zameldowania">
        <Icon>
            <img src="/icons/book.svg">
        </Icon>
    </Button>

    <Button OnClick="@(() => Navigation.NavigateTo("/OpenApartmentPage"))" Text="Otwórz Apartament">
        <Icon>
            <img src="/icons/door-open.svg">
        </Icon>
    </Button>

    <Button OnClick="@(() => Navigation.NavigateTo("/AboutReservationPage"))" Text="O rezerwacji">
        <Icon>
            <img src="/icons/info.svg">
        </Icon>
    </Button>

    <Button OnClick="@(() => Navigation.NavigateTo("/ManageStayPage"))" Text="Zarządzaj pobytem">
        <Icon>
            <img src="/icons/lamp.svg">
        </Icon>
    </Button>

</div>