@page "/reservation/{token}/ManageStayPage"
@using RentoomBooking.StayWell.Components
@using RentoomBooking.StayWell.States
@inject NavigationManager Navigation

@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<ManageStayPage> Localizer

@inherits Models.PageBase

<PageTitle>Manage Stay</PageTitle>

<div class="page-info-wrapper">
    <PageInfo Title="@ReservationState?.CurrentReservation?.Reservation.Items.FirstOrDefault()?.objectName" Subtitle="@Localizer["ManageStay"]"></PageInfo>
</div>

<div class="buttons-wrapper">
    <Button Text="@Localizer["Report"]" OnClick="@(() => Navigation.NavigateTo($"reservation/{Token}/ReportPage"))">
        <Icon>
            <img src="/icons/frown.svg">
        </Icon>
    </Button>
    <Button Text="@Localizer["EarlyCheckIn"]">
        <Icon>
            <img src="/icons/alarm-clock-check.svg">
        </Icon>
    </Button>
    <Button Text="@Localizer["LateCheckOut"]">
        <Icon>
            <img src="/icons/alarm-clock-minus.svg">
        </Icon>
    </Button>
    <Button Disabled=true Text="@Localizer["ExtendStay"]">
        <Icon>
            <img src="/icons/calendar-plus.svg">
        </Icon>
    </Button>
    <Button Text="@Localizer["AdditionalCleaning"]">
        <Icon>
            <img src="/icons/brush-cleaning.svg">
        </Icon>
    </Button>
    <Button Text="@Localizer["BabyCrib"]">
        <Icon>
            <img src="/icons/baby.svg">
        </Icon>
    </Button>
    <Button ButtonStyle="color: red; border-color: red; margin-top: 30px;" Text="@Localizer["CheckOut"]"
    OnClick="OpenModal">
        <Icon>
            <img src="/icons/door-closed.svg">
        </Icon>
    </Button>
</div>

@code{
    private bool _windows;
    private bool _belongings;
    private bool _trash;
    private bool _remote;

    private bool _buttonState => _windows && _belongings && _trash && _remote;

    void OpenModal()
    {
        ModalService.ShowModal("Wymelduj się",
        @<RentoomBooking.StayWell.Components.ModalContent.CheckOutContent></RentoomBooking.StayWell.Components.ModalContent.CheckOutContent>
        );
    }
}