@page "/reservation/{token}/OpenApartmentPage"
@using RentoomBooking.StayWell.Components
@using RentoomBooking.StayWell.States

@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<OpenApartmentPage> Localizer


@inherits Models.PageBase

<PageTitle>OpenApartmentPage</PageTitle>

<div class="page-info-wrapper">
    <PageInfo Title="@ReservationState?.CurrentReservation?.Reservation?.Items.FirstOrDefault()?.objectName" Subtitle="@Localizer["OpenApartment"]"></PageInfo>
</div>

<div class="description-wrapper">
    <Description>
        <Icon><img src="/icons/info.svg" /></Icon>
        <DescriptionContent>
            <span>Jeżeli dostępne, <img src="/icons/radio.svg"/> 
                <span style="font-weight: bold">Otwórz zdalnie</span> drzwi pozwala na otwieranie drzwi bez potrzeby wpisywania kodu.
                Wystarczy wcisnąć przycisk.</span>
        </DescriptionContent>
    </Description>
    <Description DescriptionText="Indywidualny kod jest zawszę funkcjonalny niezależnie od dostępności zdalnego otwierania drzwi.">
        <Icon><img src="/icons/binary.svg" /></Icon>
    </Description>
</div>

<div class="buttons-wrapper">
    <Button Text="@Localizer["OpenRemotely"]" 
   Disabled="_buttonState" ButtonStyle="margin-bottom: 30px;">
        <Icon>
            <img src="/icons/radio.svg">
        </Icon>
    </Button>

    <Description>
        <DescriptionContent>
            <div style="font-weight: bold;">
                <img src="/icons/binary.svg"/>
                @Localizer["YourIndividualCode"]:
            </div>
        </DescriptionContent>
    </Description>

    <div style="font-size: calc(0.25vw + 1.25rem);">
        @if (DateTime.Now < ReservationState?.CurrentReservation?.Reservation?.ReservationDetails?.getDateFrom())
        {
            <span>@Localizer["CodeNotAvaliable"]</span>
        }
        else
        {
            <span style ="font-weight: bold">@LocksState.CurrentLocks?.FirstOrDefault()?.Code?.ToString()</span> 
            <span>@Localizer["Confirm"]</span>
            <span style="font-weight: bold">#</span>
            <span>@Localizer["Or"]</span>
            <img src="/icons/key-round.svg" />
        }
    </div>

</div>


@code{
    private bool _buttonState => DateTime.Now < ReservationState?.CurrentReservation?.Reservation?.ReservationDetails?.getDateFrom();
}