@page "/wspolpraca";
@* [SEO_ROUTES] *@
@page "/be/wspo-praca"
@page "/bg/wspo-praca"
@page "/bs/saradnja"
@page "/cs/spoluprace"
@page "/da/samarbejde"
@page "/de/zusammenarbeit"
@page "/el/wspo-praca"
@page "/en/cooperation"
@page "/es/cooperacion"
@page "/et/koostoo"
@page "/fi/yhteistyo"
@page "/fr/cooperation"
@page "/ga/comhar"
@page "/hr/suradnja"
@page "/hu/egyuttmukodes"
@page "/is/samstarf"
@page "/it/cooperazione"
@page "/lt/bendradarbiavimas"
@page "/lv/sadarbiba"
@page "/mk/wspo-praca"
@page "/mt/kooperazzjoni"
@page "/nl/samenwerking"
@page "/no/samarbeid"
@page "/pl/wspo-praca"
@page "/pt/cooperacao"
@page "/ro/cooperare"
@page "/ru/wspo-praca"
@page "/sk/spolupraca"
@page "/sl/sodelovanje"
@page "/sq/bashkepunimi"
@page "/sr/saradnja"
@page "/sv/samarbete"
@page "/uk/wspo-praca"
@* [SEO_ROUTES_END] *@
@using RentoomBookingWeb.Components.Features.Cooperation.Components;
@inject NavigationManager NavManager
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<RentoomBookingWeb.Cooperation> Localizer;

<PageTitle>@Localizer["Cooperation_PageTitle"]</PageTitle>

<HeadContent>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="@Localizer["Cooperation_MetaDescription"]" />
    <meta name="keywords" content="@Localizer["Cooperation_MetaKeywords"]" />
    <link rel="canonical" href="@NavManager.Uri" />

    <meta property="og:title" content="@Localizer["Cooperation_OgTitle"]" />
    <meta property="og:description" content="@Localizer["Cooperation_OgDescription"]" />
    <meta property="og:image" content="@($"{NavManager.BaseUri}assets/images/header-bg-coop.jpeg")" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@NavManager.Uri" />
    <BreadcrumbJsonLd CurrentPageName="@Localizer["Cooperation_BreadcrumbName"]" CurrentPagePath="/wspolpraca" />
</HeadContent>

<div class="cooperation-container">
    <HeaderSection
        ImagePath="/assets/images/header-bg-coop.jpeg"
        Title="@Localizer["CooperationText1"]"
        Height="230px"/>
    <AboutUs/>
    <Advantages/>
    <Form/>
</div>
