@page "/wspolpraca";
@using RentoomBookingWeb.Components.Features.Cooperation.Components;
@inject NavigationManager NavManager
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<RentoomBookingWeb.Cooperation> Localizer;

<PageTitle>@Localizer["Cooperation_PageTitle"]</PageTitle>

<HeadContent>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="@Localizer["Cooperation_MetaDescription"]" />
    <meta name="keywords" content="@Localizer["Cooperation_MetaKeywords"]" />
    <link rel="canonical" href="@NavManager.Uri" />

    <meta property="og:title" content="@Localizer["Cooperation_OgTitle"]" />
    <meta property="og:description" content="@Localizer["Cooperation_OgDescription"]" />
    <meta property="og:image" content="@($"{NavManager.BaseUri}assets/images/header-bg-coop.jpeg")" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@NavManager.Uri" />
    <BreadcrumbJsonLd CurrentPageName="@Localizer["Cooperation_BreadcrumbName"]" CurrentPagePath="/wspolpraca" />
</HeadContent>

<div class="cooperation-container">
    <HeaderSection
        ImagePath="/assets/images/header-bg-coop.jpeg"
        Title="@Localizer["CooperationText1"]"
        Height="230px"/>
    <AboutUs/>
    <Advantages/>
    <Form/>
</div>
