@page "/rezerwuj/{ReservationTokenGuid:guid}/dane-klienta/"
@using RentoomBooking.SharedClasses.Models.Database.EFEntitites
@using RentoomBooking.SharedClasses.Models.IdoBooking
@using RentoomBooking.SharedClasses.Models.ReservationWorkflow
@using RentoomBooking.SharedClasses.Services.ReservationWorkflow
@using RentoomBookingWeb.Components.Shared
@using RentoomBookingWeb.Components.Enums
@using RentoomBookingWeb.Services
@using RentoomBooking.SharedClasses.Services.Gus
@using PhoneNumbers
@inject IApartmentsService ApartmentsService
@inject IReservationWorkflowService ReservationWorkflowService
@inject IGusService GusService
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@implements IDisposable
@using RentoomBookingWeb.Components.Features.ReservationWorkflow.Components
@using Microsoft.Extensions.Localization
@using System.Linq
@using System.ComponentModel.DataAnnotations
@using System.Net.Mail
@using System.Text.RegularExpressions
@using System.Globalization
@inject IStringLocalizer<RentoomBookingWeb.Payment> Localizer
@inject ReservationWorkflowTelemetry WorkflowTelemetry
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Environment

<PageTitle>@Localizer["ClientInfoPageTitle"]</PageTitle>

<div class="payment-container">
    <div class="payment-wrapper">
        <div  class="client-form-section">
            <EditForm id="client-form" EditContext="_editContext" OnValidSubmit="SaveAsync">
                <DataAnnotationsValidator />

                <div class="form-wrapper">
                    <div class="form-wrapper-title">
                    <div class="form-wrapper-title-icon-wrapper">
                        <img src="assets/svgs/user.svg" alt="ikona uzytkownika">
                    </div> 
                    <div class="form-wrapper-title-text">
                        <h3>@Localizer["ClientInfoTitle"]</h3>
                        <p>@Localizer["ClientInfoSubtitle"]</p>
                    </div>
                </div>
                
                <div class="form">
                    <div class="form-item">
                        <div class="form-two-items">
                            <div class="input-wrapper">
                                <small>@Localizer["Name"] <span style="color: red;">*</span></small>
                                <Input Placeholder="@Localizer["Name"]" IsFull="true" @bind-Value="_form.Client.FirstName"/>
                                @if (_submitted && string.IsNullOrWhiteSpace(_form.Client.FirstName))
                                {
                                    <small class="text-danger">@Localizer["FillAllDataError"]</small>
                                }
                            </div>
                            <div class="input-wrapper">
                                <small>@Localizer["LastName"] <span style="color: red;">*</span></small>
                                <Input Placeholder="@Localizer["LastName"]" IsFull="true" @bind-Value="_form.Client.LastName"/>
                                @if (_submitted && string.IsNullOrWhiteSpace(_form.Client.LastName))
                                {
                                    <small class="text-danger">@Localizer["FillAllDataError"]</small>
                                }
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <small>@Localizer["City"] <span style="color: red;">*</span></small>
                            <Input Placeholder="@Localizer["City"]" IsFull="true" @bind-Value="_form.Client.City"/>
                            @if (_submitted && string.IsNullOrWhiteSpace(_form.Client.City))
                            {
                                <small class="text-danger">@Localizer["FillAllDataError"]</small>
                            }
                        </div>
                        <div class="input-wrapper">
                            <small>@Localizer["Address"] <span style="color: red;">*</span></small>
                            <Input Placeholder="@Localizer["Address"]" IsFull="true" @bind-Value="_form.Client.Street"/>
                            @if (_submitted && string.IsNullOrWhiteSpace(_form.Client.Street))
                            {
                                <small class="text-danger">@Localizer["FillAllDataError"]</small>
                            }
                        </div>
                        <div class="input-wrapper">
                            <small>@Localizer["PostalCode"] <span style="color: red;">*</span></small>
                            <Input Placeholder="@Localizer["PostalCode"]" IsFull="true" @bind-Value="_form.Client.ZipCode"/>
                            @if (_submitted && string.IsNullOrWhiteSpace(_form.Client.ZipCode))
                            {
                                <small class="text-danger">@Localizer["FillAllDataError"]</small>
                            }
                        </div>
                        <div class="form-two-items">
                            <div class="input-wrapper">
                                <small>@Localizer["Email"] <span style="color: red;">*</span></small>
                                <Input Placeholder="@Localizer["Email"]" IsFull="true" 
                                       Value="@_form.Client.Email"
                                       ValueChanged="@((string val) => { _form.Client.Email = val; _emailDirty = true; })"/>
                                @if (_submitted && string.IsNullOrWhiteSpace(_form.Client.Email))
                                {
                                    <small class="text-danger">@Localizer["FillAllDataError"]</small>
                                }
                                else if (_emailDirty && !string.IsNullOrWhiteSpace(_form.Client.Email) && !IsValidEmail(_form.Client.Email))
                                {
                                    <small class="text-danger">@Localizer["InvalidEmailError"]</small>
                                }
                            </div>
                        </div>
                        
                        <div class="input-wrapper">
                            <small>@Localizer["Phone"] <span style="color: red;">*</span></small>
                            <div class="phone-grid-container">
                                <div class="input-wrapper phone-prefix-container">
                                    <div class="custom-input">
                                        <select class="prefix-select" @bind="PhoneCountryCode">
                                            @foreach (var prefix in _countryPrefixes)
                                            {
                                                <option value="@prefix.Code">@prefix.Display</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="input-wrapper phone-number-container">
                                    <div class="custom-input">
                                        <input type="text"
                                               maxlength="20"
                                               @bind="PhoneNumber" 
                                               @bind:event="oninput" 
                                               placeholder="@DynamicPlaceholder" />
                                    </div>
                                </div>
                            </div>
                            @if (_submitted && string.IsNullOrWhiteSpace(_form.Client.Phone))
                            {
                                <small class="text-danger" style="display: block; margin-top: 4px;">@Localizer["FillAllDataError"]</small>
                            }
                            else if (_phoneDirty && !string.IsNullOrEmpty(_phoneError))
                            {
                                <small class="text-danger" style="display: block; margin-top: 4px;">@_phoneError</small>
                            }
                        </div>
                    </div>

                    <hr>

                    <label class="addon-label">
                        <input type="checkbox" class="addon-checkbox" @bind="UseInvoice"/>
                        <span class="addon-name">@Localizer["IsInvoiceText"]</span>
                    </label>
                    
                    <div class="form-item mt-1 mb-2">
                        @if (UseInvoice)
                        {
                            <div class="input-wrapper">
                                <small>@Localizer["ClientInfoNipLabel"] <span style="color: red;">*</span></small>
                                <div class="">
                                    <Input Placeholder="@Localizer["ClientInfoNipLabel"]" IsFull="true" @bind-Value="_form.Invoice.TaxNumber"/>
                                    <small class="download-nip-button" @onclick="DownloadGusDataAsync" style="cursor: pointer; color: var(--primary);">
                                        @(_isFetchingGus ? Localizer["Loading"] : Localizer["ClickToDownloadInfo"])
                                    </small>
                                </div>
                                @if (_submitted && string.IsNullOrWhiteSpace(_form.Invoice.TaxNumber))
                                {
                                    <small class="text-danger">@Localizer["FillAllDataError"]</small>
                                }
                            </div>
                            <div class="input-wrapper">
                                <small>@Localizer["CompanyName"] <span style="color: red;">*</span></small>
                                <Input Placeholder="@Localizer["CompanyName"]" IsFull="true" @bind-Value="_form.Invoice.CompanyName"/>
                                @if (_submitted && string.IsNullOrWhiteSpace(_form.Invoice.CompanyName))
                                {
                                    <small class="text-danger">@Localizer["FillAllDataError"]</small>
                                }
                            </div>
                            <div class="form-two-items">
                                <div class="input-wrapper">
                                    <small>@Localizer["City"] <span style="color: red;">*</span></small>
                                    <Input Placeholder="@Localizer["City"]" IsFull="true" @bind-Value="_form.Invoice.City"/>
                                    @if (_submitted && string.IsNullOrWhiteSpace(_form.Invoice.City))
                                    {
                                        <small class="text-danger">@Localizer["FillAllDataError"]</small>
                                    }
                                </div>
                                <div class="input-wrapper">
                                    <small>@Localizer["Address"] <span style="color: red;">*</span></small>
                                    <Input Placeholder="@Localizer["Address"]" IsFull="true" @bind-Value="_form.Invoice.Street"/>
                                    @if (_submitted && string.IsNullOrWhiteSpace(_form.Invoice.Street))
                                    {
                                        <small class="text-danger">@Localizer["FillAllDataError"]</small>
                                    }
                                </div>
                                <div class="input-wrapper">
                                    <small>@Localizer["PostalCode"] <span style="color: red;">*</span></small>
                                    <Input Placeholder="@Localizer["PostalCode"]" IsFull="true" @bind-Value="_form.Invoice.ZipCode"/>
                                    @if (_submitted && string.IsNullOrWhiteSpace(_form.Invoice.ZipCode))
                                    {
                                        <small class="text-danger">@Localizer["FillAllDataError"]</small>
                                    }
                                </div>
                            </div>
                            <div class="input-wrapper">
                                <small>@Localizer["Email"] <span style="color: red;">*</span></small>
                                <Input Placeholder="@Localizer["Email"]" IsFull="true" 
                                       Value="@_form.Invoice.Email"
                                       ValueChanged="@((string val) => { _form.Invoice.Email = val; _invoiceEmailDirty = true; })"/>
                                @if (_submitted && string.IsNullOrWhiteSpace(_form.Invoice.Email))
                                {
                                    <small class="text-danger">@Localizer["FillAllDataError"]</small>
                                }
                                else if (_invoiceEmailDirty && !string.IsNullOrWhiteSpace(_form.Invoice.Email) && !IsValidEmail(_form.Invoice.Email))
                                {
                                    <small class="text-danger">@Localizer["InvalidEmailError"]</small>
                                }
                            </div>
                        }
                    </div>
                </div>

                <AppError Message=@_error
                          Title="@Localizer["SomethingWrong"]"
                          Dismissible="false" />

                <Button IsBusy="@_isSaving">
                    @Localizer["ClientInfoButton"]
                </Button>
            </div>
        </EditForm>
        </div>

        <SummaryBox 
        Summary="_summary"
        Apartment="_apartment"
        />
        </div>    @* MOBILE FLOATING BUTTON *@
    @if (!_isAtForm)
    {
        <div class="mobile-sticky-action">
            <Button Type="ButtonType.Tertiary" 
                    Class="small" 
                    style="width: 100%;" 
                    OnClick="SmartScrollAction">
                @Localizer["FillGuestData"]
            </Button>
        </div>
    }
</div>

@code {
    [Parameter] public Guid ReservationTokenGuid { get; set; }

    private ApartmentObject? _apartment;
    private PaymentFormModel _form = new();
    private EditContext _editContext = default!;
    private bool _isSaving;
    private bool _isFetchingGus;
    private string? _error;
    private string _phoneCountryCode = "48";
    private string _phoneNumberDisplay = string.Empty; 
    private string _phoneNumberRaw = string.Empty;     
    private ReservationSummaryDto? _summary;
    private string _phoneError = string.Empty;

    private bool _emailDirty = false;
    private bool _invoiceEmailDirty = false;
    private bool _phoneDirty = false;
    private bool _submitted = false;

    // SCROLL TRACKING
    private const int SmartScrollOffsetPx = 150;
    private bool _isAtForm = false;
    private IDisposable? _scrollObjRef;
    private bool _observerInitialized = false;

    private List<DefinedAddonEntity>? _definedAddons = null;

    [JSInvokable]
    public void UpdateScrollState(string elementId, bool isPastOrVisible)
    {
        if (elementId == "client-form")
        {
            if (_isAtForm != isPastOrVisible)
            {
                _isAtForm = isPastOrVisible;
                StateHasChanged();
            }
        }
    }

    private async Task SmartScrollAction()
    {
        if (_isAtForm)
        {
            await SaveAsync();
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("scrollToElement", "client-form", SmartScrollOffsetPx);
        }
    }

    private static readonly PhoneNumberUtil _phoneUtil = PhoneNumberUtil.GetInstance();

    private class CountryPrefix
    {
        public string Code { get; set; } = "";
        public string Region { get; set; } = "";
        public string Flag { get; set; } = "";
        public string Display => $"{Flag} {Region} +{Code}";
    }

    private List<CountryPrefix> _countryPrefixes = new();

    private void InitializeCountryPrefixes()
    {
        var regions = _phoneUtil.GetSupportedRegions();
        var list = new List<CountryPrefix>();

        foreach (var region in regions)
        {
            var code = _phoneUtil.GetCountryCodeForRegion(region);
            if (code == 0) continue;

            list.Add(new CountryPrefix
            {
                Code = code.ToString(),
                Region = region,
                Flag = GetFlag(region)
            });
        }

        _countryPrefixes = list
            .OrderBy(x => x.Region == "PL" ? 0 : 1)
            .ThenBy(x => x.Region)
            .ToList();
    }

    private string GetFlag(string region)
    {
        if (string.IsNullOrEmpty(region) || region.Length != 2 || region == "ZZ") return "🌐";
        try
        {
            return string.Concat(region.ToUpper().Select(c => char.ConvertFromUtf32(c + 0x1F1A5)));
        }
        catch
        {
            return "🌐";
        }
    }


    private bool IsSubmitDisabled => _isSaving || !IsFormComplete();

    private bool UseInvoice
    {
        get => _form.UseInvoice;
        set
        {
            _form.UseInvoice = value;
            if (value && string.IsNullOrWhiteSpace(_form.Invoice.Email) && !string.IsNullOrWhiteSpace(_form.Client.Email))
            {
                _form.Invoice.Email = _form.Client.Email;
            }
        }
    }

    private string PhoneCountryCode
    {
        get => _phoneCountryCode;
        set
        {
            _phoneCountryCode = value;
            PhoneNumber = _phoneNumberRaw; 
        }
    }

    private string PhoneNumber
    {
        get => _phoneNumberDisplay;
        set
        {
            _phoneNumberRaw = DigitsOnly(value);
            _phoneNumberDisplay = FormatAsYouType(_phoneNumberRaw);
            if (!string.IsNullOrEmpty(_phoneNumberRaw)) _phoneDirty = true;
            ValidateAndBuildPhone();
        }
    }

    private string DynamicPlaceholder
    {
        get
        {
            var selectedPrefix = _countryPrefixes.FirstOrDefault(c => c.Code == _phoneCountryCode);
            if (selectedPrefix != null && !string.IsNullOrEmpty(selectedPrefix.Region))
            {
                var exampleNumber = _phoneUtil.GetExampleNumberForType(selectedPrefix.Region, PhoneNumberType.MOBILE);

                if (exampleNumber != null)
                {
                    return _phoneUtil.Format(exampleNumber, PhoneNumberFormat.NATIONAL);
                }
            }
            return "123 456 789"; 
        }
    }

    private string FormatAsYouType(string digits)
    {
        var selectedPrefix = _countryPrefixes.FirstOrDefault(c => c.Code == _phoneCountryCode);
        if (selectedPrefix == null || string.IsNullOrEmpty(selectedPrefix.Region)) 
        {
            return digits;
        }

        var formatter = _phoneUtil.GetAsYouTypeFormatter(selectedPrefix.Region);
        formatter.Clear();
        string formatted = "";

        foreach (char c in digits)
        {
            formatted = formatter.InputDigit(c);
        }

        return formatted;
    }

    protected override async Task OnInitializedAsync()
    {
        InitializeCountryPrefixes();
        if (Environment.IsDevelopment())
        {
            InitializeDummyClientData();
        }
        _editContext = new EditContext(_form);
        _definedAddons = await ApartmentsService.GetDefinedAddonsAsync();
        _summary = await ReservationWorkflowService.BuildDraftSummaryAsync(ReservationTokenGuid);

        if (_summary != null)
        {
            if (_summary.Client != null)
            {
                _form.Client = _summary.Client;
            }
            if (_summary.Invoice != null)
            {
                _form.Invoice = _summary.Invoice;
                _form.UseInvoice = true;
            }

            if (_summary.StartRequest?.ObjectId != null)
            {
                _apartment = await ApartmentsService.GetApartmentByIdAsync(_summary.StartRequest.ObjectId);   
            }
        }

        ParsePhoneNumber(_form.Client.Phone);
        // Ponownie inicjalizujemy, aby uwzględnić zaktualizowane dane w _form
        _editContext = new EditContext(_form);

        WorkflowTelemetry.TrackEvent(
            "ReservationStepViewed_ClientInfo",
            new Dictionary<string, string?>
            {
                ["ReservationTokenGuid"] = ReservationTokenGuid.ToString(),
                ["ApartmentId"] = _summary?.StartRequest?.ObjectId.ToString()
            });
    }

    private async Task DownloadGusDataAsync()
    {
        if (_isFetchingGus) return;
        var nip = _form.Invoice.TaxNumber;
        if (string.IsNullOrWhiteSpace(nip)) { _error = Localizer["NoNipError"]; return; }
        _isFetchingGus = true; _error = null;
        try
        {
            var data = await GusService.GetCompanyInfoByNipAsync(nip);
            if (data != null)
            {
                _form.Invoice.CompanyName = data.Nazwa;
                _form.Invoice.City = data.Miejscowosc;
                _form.Invoice.ZipCode = data.KodPocztowy;
                _form.Invoice.Street = $"{data.Ulica} {data.NrNieruchomosci}".Trim();
                if (!string.IsNullOrEmpty(data.NrLokalu)) _form.Invoice.Street += $"/{data.NrLokalu}";
                _form.Invoice.Street = _form.Invoice.Street.Trim();
                _error = null;

                WorkflowTelemetry.TrackEvent(
                    "ReservationInvoiceGusLookupSucceeded",
                    new Dictionary<string, string?>
                    {
                        ["ReservationTokenGuid"] = ReservationTokenGuid.ToString()
                    });
            }
            else
            {
                _error = Localizer["NoGusInfo"];
                WorkflowTelemetry.TrackEvent(
                    "ReservationInvoiceGusLookupFailed",
                    new Dictionary<string, string?>
                    {
                        ["ReservationTokenGuid"] = ReservationTokenGuid.ToString(),
                        ["Reason"] = "NoData"
                    });
            }
        }
        catch (Exception)
        {
            _error = Localizer["GusError"];
            WorkflowTelemetry.TrackEvent(
                "ReservationInvoiceGusLookupFailed",
                new Dictionary<string, string?>
                {
                    ["ReservationTokenGuid"] = ReservationTokenGuid.ToString(),
                    ["Reason"] = "Exception"
                });
        }
        finally { _isFetchingGus = false; }
    }

    private async Task SaveAsync()
    {
        if (_isSaving) return;
        
        _form.Client.Language = ResolveClientLanguage(CultureInfo.CurrentUICulture.Name);
        _submitted = true;
        _emailDirty = true;
        _invoiceEmailDirty = true;
        _phoneDirty = true;
        
        ValidateAndBuildPhone();
        
        if (!IsFormComplete()) 
        {
            _error = null;
            WorkflowTelemetry.TrackEvent(
                "ReservationClientInfoValidationFailed",
                new Dictionary<string, string?>
                {
                    ["ReservationTokenGuid"] = ReservationTokenGuid.ToString(),
                    ["UseInvoice"] = _form.UseInvoice.ToString()
                });
            return;
        }
        
        _isSaving = true; _error = null;
        try
        {
            await ReservationWorkflowService.SaveClientInfoAsync(ReservationTokenGuid, _form.Client, _form.UseInvoice ? _form.Invoice : null);
            WorkflowTelemetry.TrackEvent(
                "ReservationStepCompleted_ClientInfo",
                new Dictionary<string, string?>
                {
                    ["ReservationTokenGuid"] = ReservationTokenGuid.ToString(),
                    ["UseInvoice"] = _form.UseInvoice.ToString(),
                    ["Language"] = _form.Client.Language
                });
            Navigation.NavigateTo($"/rezerwuj/{ReservationTokenGuid}/podsumowanie");
        }
        catch (Exception ex)
        {
            _error = Localizer["ClientInfoSaveError"] + " " + ex.Message;
            WorkflowTelemetry.TrackEvent(
                "ReservationClientInfoSaveFailed",
                new Dictionary<string, string?>
                {
                    ["ReservationTokenGuid"] = ReservationTokenGuid.ToString(),
                    ["Reason"] = ex.GetType().Name
                });
        }
        finally { _isSaving = false; }
    }

    private static string ResolveClientLanguage(string? cultureName)
    {
        if (string.IsNullOrWhiteSpace(cultureName))
        {
            return "pol";
        }

        return cultureName.StartsWith("en", StringComparison.OrdinalIgnoreCase) ? "eng" : "pol";
    }

    private void ValidateAndBuildPhone()
    {
        _phoneError = string.Empty;
        var cleanPrefix = DigitsOnly(_phoneCountryCode);
        
        if (string.IsNullOrWhiteSpace(cleanPrefix) || string.IsNullOrWhiteSpace(_phoneNumberRaw)) 
        {
            _form.Client.Phone = string.Empty;
            return;
        }

        try
        {
            var fullNumberToParse = $"+{cleanPrefix}{_phoneNumberRaw}";
            PhoneNumber numberProto = _phoneUtil.Parse(fullNumberToParse, null);

            if (_phoneUtil.IsValidNumber(numberProto))
            {
                _form.Client.Phone = $"+{numberProto.CountryCode}.{numberProto.NationalNumber}";
                _phoneError = string.Empty;
            }
            else
            {
                _form.Client.Phone = string.Empty;
            }
        }
        catch (NumberParseException)
        {
            _form.Client.Phone = string.Empty;
        }
    }

    private void ParsePhoneNumber(string? phone)
    {
        var normalizedPhone = (phone ?? string.Empty).Trim();

        if (string.IsNullOrWhiteSpace(normalizedPhone))
        {
            _phoneCountryCode = "48";
            PhoneNumber = string.Empty; 
            return;
        }

        if (normalizedPhone.Contains('.'))
        {
            var splitPhone = normalizedPhone.TrimStart('+').Split('.', 2, StringSplitOptions.TrimEntries);
            _phoneCountryCode = DigitsOnly(splitPhone.ElementAtOrDefault(0));
            PhoneNumber = splitPhone.ElementAtOrDefault(1) ?? string.Empty;
        }
        else
        {
            try
            {
                var fullNumber = normalizedPhone.StartsWith("+") ? normalizedPhone : "+" + normalizedPhone;
                PhoneNumber numberProto = _phoneUtil.Parse(fullNumber, null);
                _phoneCountryCode = numberProto.CountryCode.ToString();
                PhoneNumber = numberProto.NationalNumber.ToString();
            }
            catch
            {
                _phoneCountryCode = string.Empty;
                PhoneNumber = DigitsOnly(normalizedPhone);
            }
        }
        
        if (!string.IsNullOrEmpty(_phoneCountryCode) && !_countryPrefixes.Any(x => x.Code == _phoneCountryCode))
        {
            _countryPrefixes.Add(new CountryPrefix { Code = _phoneCountryCode, Region = "ZZ" });
        }
    }

    private bool IsFormComplete()
    {
        if (!HasValue(_form.Client.FirstName) ||
            !HasValue(_form.Client.LastName) ||
            !HasValue(_form.Client.City) ||
            !HasValue(_form.Client.Street) ||
            !HasValue(_form.Client.ZipCode) ||
            !HasValue(_form.Client.Email) ||
            !IsValidEmail(_form.Client.Email) ||
            !HasValue(_form.Client.Phone)) 
        {
            return false;
        }

        if (!_form.UseInvoice) return true;

        return HasValue(_form.Invoice.TaxNumber) &&
               HasValue(_form.Invoice.CompanyName) &&
               HasValue(_form.Invoice.City) &&
               HasValue(_form.Invoice.Street) &&
               HasValue(_form.Invoice.ZipCode) &&
               HasValue(_form.Invoice.Email) &&
               IsValidEmail(_form.Invoice.Email);
    }

    public bool IsValidEmail(string? email)
    {
        if (string.IsNullOrWhiteSpace(email)) return false;
        try
        {
            email = Regex.Replace(email, @"(@)(.+)$", DomainMapper, RegexOptions.None, TimeSpan.FromMilliseconds(200));
            string DomainMapper(Match match)
            {
                var idn = new IdnMapping();
                string domainName = idn.GetAscii(match.Groups[2].Value);
                return match.Groups[1].Value + domainName;
            }
        }
        catch (Exception) { return false; }

        try
        {
            return Regex.IsMatch(email, @"^[^@\s]+@[^@\s]+\.[^@\s]+$", RegexOptions.IgnoreCase, TimeSpan.FromMilliseconds(250));
        }
        catch (RegexMatchTimeoutException) { return false; }
    }

    private static bool HasValue(string? value) => !string.IsNullOrWhiteSpace(value);
    private static string DigitsOnly(string? value)
    {
        if (string.IsNullOrWhiteSpace(value)) return string.Empty;
        return new string(value.Where(char.IsDigit).ToArray());
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!_observerInitialized)
        {
            _observerInitialized = true;
            _scrollObjRef = DotNetObjectReference.Create(this);
            await Task.Delay(100);
            
            // Rejestrujemy z dużym ujemnym marginesem dolnym (-50%), aby przycisk 
            // zniknął dopiero, gdy użytkownik przewinie formularz do połowy ekranu.
            var observerOptions = new { threshold = 0, rootMargin = "0px 0px -50% 0px" };
            await JSRuntime.InvokeVoidAsync("registerScrollObserver", "client-form", _scrollObjRef, observerOptions);
        }
    }

    public void Dispose()
    {
        _scrollObjRef?.Dispose();
    }

    private sealed class PaymentFormModel
    {
        public ClientInfoDto Client { get; set; } = new();
        public InvoiceInfoDto Invoice { get; set; } = new();
        public bool UseInvoice { get; set; }
    }


    private void InitializeDummyClientData()
    {
        // Initialize with dummy data for testing purposes
        var randEmail = Guid.NewGuid().ToString("n").Substring(0, 6);
        _form.Client = new ClientInfoDto
        {
            FirstName = "Jan",
            LastName = "Kowalski",
            Email = $"posith+{randEmail}@gmail.com",
            Phone = "+48.602394436",
            Street = "Szczęśliwa 2",
            City = "Kopanino",
            ZipCode = "87-162",
            CountryCode = "PL",
            Language = "pol"
        };

        _form.Invoice = new InvoiceInfoDto
        {
            CompanyName = "JanK Firma sp z o.o.",
            TaxNumber = "8741622532",
            Street = "Szczęśliwa 2",
            City = "Kopanino",
            ZipCode = "87-162",
            Email = $"posith+faktura_{randEmail}@gmail.com"
        };

        _form.UseInvoice = true;
    }
    

}
