@page "/rezerwuj/{ReservationTokenGuid:guid}/dane-klienta/"
@using RentoomBooking.SharedClasses.Models.IdoBooking
@using RentoomBooking.SharedClasses.Models.ReservationWorkflow
@using RentoomBooking.SharedClasses.Services.ReservationWorkflow
@using RentoomBooking.SharedClasses.Services.Gus
@inject IApartmentsService ApartmentsService
@inject IReservationWorkflowService ReservationWorkflowService
@inject IGusService GusService
@inject NavigationManager Navigation
@using RentoomBookingWeb.Components.Features.ReservationWorkflow.Components
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<RentoomBookingWeb.Payment> Localizer

<PageTitle>Płatność</PageTitle>

<div class="payment-container">
    <div class="payment-wrapper">
        <EditForm EditContext="_editContext" OnValidSubmit="SaveAsync" class="editform-width">
            <DataAnnotationsValidator />

            <div class="form-wrapper">
                <div class="form-wrapper-title">
                    <div class="form-wrapper-title-icon-wrapper">
                        <img src="assets/svgs/user.svg" alt="ikona uzytkownika">
                    </div> 
                    <div class="form-wrapper-title-text">
                        <h3>@Localizer["ClientInfoTitle"]</h3>
                        <p>@Localizer["ClientInfoSubtitle"]</p>
                    </div>
                </div>
                
                <div class="form">
                    <div class="form-item">
                        <div class="form-two-items">
                            <div class="input-wrapper">
                                <small>@Localizer["Name"]</small>
                                <Input Placeholder="@Localizer["Name"]" IsFull="true" @bind-Value="_form.Client.FirstName"/>
                            </div>
                            <div class="input-wrapper">
                                <small>@Localizer["LastName"]</small>
                                <Input Placeholder="@Localizer["LastName"]" IsFull="true" @bind-Value="_form.Client.LastName"/>
                            </div>
                        </div>
                        <div class="input-wrapper">
                            <small>@Localizer["City"]</small>
                            <Input Placeholder="@Localizer["City"]" IsFull="true" @bind-Value="_form.Client.City"/>
                        </div>
                        <div class="input-wrapper">
                            <small>@Localizer["Address"]</small>
                            <Input Placeholder="@Localizer["Address"]" IsFull="true" @bind-Value="_form.Client.Street"/>
                        </div>
                        <div class="input-wrapper">
                            <small>@Localizer["PostalCode"]</small>
                            <Input Placeholder="@Localizer["PostalCode"]" IsFull="true" @bind-Value="_form.Client.ZipCode"/>
                        </div>
                        <div class="form-two-items">
                            <div class="input-wrapper">
                                <small>@Localizer["Email"]</small>
                                <Input Placeholder="@Localizer["Email"]" IsFull="true" @bind-Value="_form.Client.Email"/>
                            </div>
                            <div class="input-wrapper">
                                <small>@Localizer["Phone"]</small>
                                <Input Placeholder="@Localizer["Phone"]" IsFull="true" @bind-Value="_form.Client.Phone"/>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <label class="addon-label">
                        <input type="checkbox" class="addon-checkbox" @bind="_form.UseInvoice"/>
                        <span class="addon-name">@Localizer["IsInvoiceText"]</span>
                    </label>
                    
                    <div class="form-item mt-1 mb-2">
                        @if (_form.UseInvoice)
                        {
                            <div class="input-wrapper">
                                <small>NIP</small>
                                <div class="">
                                    <Input Placeholder="NIP" IsFull="true" @bind-Value="_form.Invoice.TaxNumber"/>
                                    <small class="download-nip-button" @onclick="DownloadGusDataAsync" style="cursor: pointer; color: var(--primary);">
                                        @(_isFetchingGus ? Localizer["Loading"] : Localizer["ClickToDownloadInfo"])
                                    </small>
                                </div>
                            </div>
                            <div class="input-wrapper">
                                <small>@Localizer["CompanyName"]</small>
                                <Input Placeholder="@Localizer["CompanyName"]" IsFull="true" @bind-Value="_form.Invoice.CompanyName"/>
                            </div>
                            <div class="form-two-items">
                                <div class="input-wrapper">
                                    <small>@Localizer["City"]</small>
                                    <Input Placeholder="@Localizer["City"]" IsFull="true" @bind-Value="_form.Invoice.City"/>
                                </div>
                                <div class="input-wrapper">
                                    <small>@Localizer["Address"]</small>
                                    <Input Placeholder="@Localizer["Address"]" IsFull="true" @bind-Value="_form.Invoice.Street"/>
                                </div>
                                <div class="input-wrapper">
                                    <small>@Localizer["PostalCode"]</small>
                                    <Input Placeholder="@Localizer["PostalCode"]" IsFull="true" @bind-Value="_form.Invoice.ZipCode"/>
                                </div>
                            </div>
                            <div class="input-wrapper">
                                <small>@Localizer["Email"]</small>
                                <Input Placeholder="@Localizer["Email"]" IsFull="true" @bind-Value="_form.Invoice.Email"/>
                            </div>
                        }
                    </div>

                    <label class="addon-label">
                        <input type="checkbox" class="addon-checkbox"/>
                        <span class="addon-name">@Localizer["IsSaveInfoText"]</span>
                    </label>
                </div>

                @if (!string.IsNullOrEmpty(_error))
                {
                    <p class="text-danger">@_error</p>
                }

                <button type="submit" disabled="@_isSaving" class="button">
                    @(_isSaving ? Localizer["ClientInfoButtonLoading"] : Localizer["ClientInfoButton"])
                </button>
            </div>
        </EditForm>
        
        <SummaryBox 
            Summary="_summary"
            Apartment="_apartment"
            />
    </div>
</div>

@code {
    [Parameter] public Guid ReservationTokenGuid { get; set; }

    private ApartmentObject? _apartment;
    private PaymentFormModel _form = new();
    private EditContext _editContext = default!;
    private bool _isSaving;
    private bool _isFetchingGus;
    private string? _error;
    private ReservationSummaryDto? _summary;
    
    protected override async Task OnInitializedAsync()
    {
        _form.Client = MockupClient();
        _editContext = new EditContext(_form);
        
        _summary = await ReservationWorkflowService.BuildSummaryAsync(ReservationTokenGuid);
        
        if (_summary != null)
        {
            if (_summary.StartRequest?.ObjectId != null)
            {
                _apartment = await ApartmentsService.GetApartmentByIdAsync(_summary.StartRequest.ObjectId);   
            }
        }
    }

    private async Task DownloadGusDataAsync()
    {
        if (_isFetchingGus) return;
        
        var nip = _form.Invoice.TaxNumber;
        if (string.IsNullOrWhiteSpace(nip))
        {
            _error = Localizer["NoNipError"];
            return;
        }

        _isFetchingGus = true;
        _error = null;

        try
        {
            var data = await GusService.GetCompanyInfoByNipAsync(nip);

            if (data != null)
            {
                _form.Invoice.CompanyName = data.Nazwa;
                _form.Invoice.City = data.Miejscowosc;
                _form.Invoice.ZipCode = data.KodPocztowy;
                _form.Invoice.Street = $"{data.Ulica} {data.NrNieruchomosci}".Trim();
                
                if (!string.IsNullOrEmpty(data.NrLokalu))
                {
                    _form.Invoice.Street += $"/{data.NrLokalu}";
                }
                
                _form.Invoice.Street = _form.Invoice.Street.Trim();
                _error = null;
            }
            else
            {
                _error = Localizer["NoGusInfo"];
            }
        }
        catch (Exception ex)
        {
            // _error = $"Błąd: {ex.Message}"; 
            // Console.WriteLine(ex.ToString());
            _error = Localizer["GusError"];
        }
        finally
        {
            _isFetchingGus = false;
        }
    }

    private async Task SaveAsync()
    {
        if (_isSaving) return;
        _isSaving = true;
        _error = null;

        try
        {
            await ReservationWorkflowService.SaveClientInfoAsync(ReservationTokenGuid, _form.Client, _form.UseInvoice ? _form.Invoice : null);
            Navigation.NavigateTo($"/rezerwuj/{ReservationTokenGuid}/podsumowanie");
        }
        catch (Exception ex)
        {
            _error = "Nie udało się zapisać danych klienta." + ex.Message ;
        }
        finally
        {
            _isSaving = false;
        }
    }

    private ClientInfoDto MockupClient()
    {
        return new ClientInfoDto
        {
            FirstName = "Maciej",
            LastName = "Stanisławski",
            City = "Kopanino",
            Street = "Sczęśliwa 2",
            ZipCode = "87-162",
            Email = "posith@gmail.com",
            Phone = "+48.602394436"
        };
    }

    private sealed class PaymentFormModel
    {
        public ClientInfoDto Client { get; set; } = new();
        public InvoiceInfoDto Invoice { get; set; } = new();
        public bool UseInvoice { get; set; }
    }
}