@page "/rezerwuj/{ReservationTokenGuid:guid}/podsumowanie"

@using RentoomBooking.SharedClasses.Models.IdoBooking
@using RentoomBooking.SharedClasses.Models.ReservationWorkflow;
@using RentoomBooking.SharedClasses.Models.ReservationWorkflow
@using RentoomBooking.SharedClasses.Services.ReservationWorkflow;
@using RentoomBookingWeb.Components.Features.ReservationWorkflow.Components;
@inject IReservationWorkflowService ReservationWorkflowService;
@inject NavigationManager Navigation;
@inject IApartmentsService ApartmentsService;
@using Microsoft.Extensions.Localization;
@using RentoomBooking.SharedClasses.Models
@inject IStringLocalizer<RentoomBookingWeb.Payment> Localizer;
@inject CustomerTermsService TermsService

<PageTitle>Podsumowanie</PageTitle>
<div class="summary-container">
    @if (_loading)
    {
        <div class="payment-success-card">
            <div class="info-icon-wrapper">
                <div class="spinner" role="status" aria-label="Ładowanie"></div>
            </div>
    
            <h2 class="success-title">@Localizer["SummaryLoadingText"]</h2>
        </div>
    }
    else if (!string.IsNullOrEmpty(_error))
    {
        <p class="text-danger">@_error</p>
    }
    else if (_summary is not null)
    {
        <div class="summary-wrapper">
            <div class="main-section">
                <div class="status-section">
                    <div class="form-wrapper-title">
                        <div class="form-wrapper-title-icon-wrapper">
                            <img src="assets/svgs/file.svg" alt="ikona uzytkownika">
                        </div> 
                        <div class="form-wrapper-title-text">
                            <h3 class="summary-box-title">@Localizer["ReservationSummary"] (@_summary?.IdoReservationId)</h3>
                            <p class="summary-box-dates">
                                @Localizer["SummaryDetailsText"]
                            </p>
                        </div>
                    </div>
                    
                    @if (@_summary.IdoStatus == "accepted" && @_summary.PaymentStatus == "Paid")
                    {
                        <div class="status-box success-bg">
                            <div class="form-wrapper-title-icon-wrapper success-icon-color rounded-full">
                                <img src="assets/svgs/success.svg" alt="ikona uzytkownika">
                            </div> 
                        
                            <div class="status-box-text">
                                <h4 class="success-text-color">@Localizer["ReservationPaid"]</h4>
                                <span>@Localizer["ReservationPaidInfo"]</span>
                            </div>
                        </div>
                        <input class="button" value="@Localizer["GoToStayWell"]">
                    }
                    else if (@_summary.IdoStatus == "waitingForPayment" && @_summary.PaymentStatus != "Paid")
                    {
                        <div class="status-box pending-bg">
                            <div class="form-wrapper-title-icon-wrapper pending-icon-color rounded-full">
                                <img src="assets/svgs/time.svg" alt="ikona uzytkownika">
                            </div> 
                        
                            <div class="status-box-text">
                                <h4 class="pending-text-color">@Localizer["ReservationPending"]</h4>
                                <span>@Localizer["ReservationPendingInfo"]</span>
                            </div>
                        </div>
                        
                        <div class="customer-terms-section">
                            @if (_isTermsLoading)
                            {
                                <span>@Localizer["Loading"]</span>
                            }
                            else if (_termsSources != null)
                            {
                                @foreach (var term in _termsSources)
                                {
                                    <div class="customer-term-row mb-3">
                                        <div class="term-checkbox-wrapper">
                                            <input type="checkbox" 
                                                   class="custom-checkbox" 
                                                   id="term-@term.Id" 
                                                   checked="@_userSelections[term.Id]" 
                                                   @onchange="@(e => OnTermChanged(term.Id, e))" />
            
                                            <label class="term-label" for="term-@term.Id">
                                                @term.Description
                                                @if (term.IsRequired)
                                                {
                                                    <span class="required-star" title="@Localizer["FieldRequired"]">*</span>
                                                }
                                            </label>
                                        </div>

                                        @if (!string.IsNullOrEmpty(term.Link))
                                        {
                                            <a href="@term.Link" target="_blank" class="term-link-icon" title="@Localizer["ViewDocument"]">
                                                <img src="assets/svgs/external-link.svg" alt="link" style="width: 18px; height: 18px;" />
                                            </a>
                                        }
                                    </div>
                                }
                            }
                        </div>
                        
                        <button @onclick="GoToPayment" 
                                class="button-pending" 
                                disabled="@(!CanProceedToPayment())"
                                style="@(!CanProceedToPayment() ? "opacity: 0.6; filter: brightness(0.8); cursor: not-allowed;" : "")">
                            <img src="assets/svgs/tpay.svg" alt="Tpay icon"/>
                            @Localizer["ClickToPay"]
                        </button>
                    }
                    else if (@_summary.IdoStatus != "accepted")
                    {
                        <div class="status-box danger-bg">
                            <div class="form-wrapper-title-icon-wrapper danger-icon-color rounded-full">
                                <img src="assets/svgs/danger.svg" alt="ikona uzytkownika">
                            </div> 
                        
                            <div class="status-box-text">
                                <h4 class="danger-text-color">@Localizer["ReservationDanger"]</h4>
                                <span>@Localizer["ReservationDangerInfo"]</span>
                            </div>
                        </div>
                    }
                </div>
                
                <div class="guest-info">
                    <div class="box-text">
                        <img src="assets/svgs/user.svg" alt="ikona uzytkownika" class="box-text-icon">
                        <b class="box-text-title">@Localizer["ClientInfoTitle"]</b>
                    </div>

                    <div class="guest-details-grid">
                        <div class="guest-detail-item">
                            <span class="detail-label">@Localizer["NameLastName"]</span>
                            <span class="detail-value">@_summary?.Client?.FirstName @_summary?.Client?.LastName</span>
                        </div>
                        <div class="guest-detail-item">
                            <span class="detail-label">@Localizer["Email"]</span>
                            <span class="detail-value">@_summary?.Client?.Email</span>
                        </div>
                        <div class="guest-detail-item">
                            <span class="detail-label">@Localizer["Phone"]</span>
                            <span class="detail-value">@_summary?.Client?.Phone</span>
                        </div>
                        <div class="guest-detail-item">
                            <span class="detail-label">@Localizer["Address"]</span>
                            <span class="detail-value">@_summary?.Client?.Street @_summary?.Client?.City @_summary?.Client?.ZipCode</span>
                        </div>
                    </div>
                    
                    @if (@_summary.IdoStatus == "waitingForPayment" && @_summary.PaymentStatus != "Paid")
                    {
                        <button class="button" @onclick="GoToClientInfo">@Localizer["Edit"]</button>   
                    }
                </div>
                
                <div class="guest-info">
                    <div class="box-text">
                        <img src="assets/svgs/calendar-2.svg" alt="ikona uzytkownika" class="box-text-icon">
                        <b class="box-text-title">@Localizer["ReservationDetails"]</b>
                    </div>

                    <div class="guest-details-grid">
                        <div class="guest-detail-item">
                            <span class="detail-label">@Localizer["CheckIn"]</span>
                            <span class="detail-value">@_summary?.StartRequest?.StartDate.ToString("yyyy-MM-dd")</span>
                        </div>
                        <div class="guest-detail-item">
                            <span class="detail-label">@Localizer["CheckOut"]</span>
                            <span class="detail-value">@_summary?.StartRequest?.EndDate.ToString("yyyy-MM-dd")</span>
                        </div>
                        <div class="guest-detail-item">
                            <span class="detail-label">@Localizer["Guests"]</span>
                            <span class="detail-value">@(_summary?.StartRequest?.Adults + _summary?.StartRequest?.Children)</span>
                        </div>
                        <div class="guest-detail-item">
                            <span class="detail-label">@Localizer["ConfirmationNumber"]</span>
                            <span class="detail-value">@_summary?.IdoReservationId</span>
                        </div>
                    </div>
                </div>
            </div>
            
            <SummaryBox Summary="_summary" Apartment="_apartment" />
        </div>
    }
</div>

@code {
    [Parameter] public Guid ReservationTokenGuid { get; set; }
    
    private ReservationSummaryDto? _summary;
    private bool _loading = true;
    private string? _error;
    private ApartmentObject? _apartment;
    
    private string? staywellLink => $"https://staywell-test.rentoom.pl/reservation/{ReservationTokenGuid}/HomePage";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _summary = await ReservationWorkflowService.BuildSummaryAsync(ReservationTokenGuid);
            if (_summary != null && _summary.StartRequest?.ObjectId != null)
            {
                _apartment = await ApartmentsService.GetApartmentByIdAsync(_summary.StartRequest.ObjectId);   
            }

            await LoadTermsAsync();
        }
        catch (Exception ex)
        {
            _error = $"Nie udało się zbudować podsumowania. {ex.Source} {ex.Message} ";
        }
        finally
        {
            _loading = false;
        }
    }
    
    private async Task GoToPayment()
    {
        try
        {
            await ReservationWorkflowService.SaveCustomerTermsAsync(ReservationTokenGuid, _userSelections);
            Navigation.NavigateTo($"/rezerwuj/{ReservationTokenGuid}/oplac");
        }
        catch (Exception ex)
        {
            _error = "Wystąpił błąd podczas zapisywania zgód. Spróbuj ponownie.";
        }
    }
    
    private void GoToClientInfo()
    {
        Navigation.NavigateTo($"/rezerwuj/{ReservationTokenGuid}/dane-klienta");
    }
    
    private List<CustomerTermsAndConditionsSource>? _termsSources;
    private Dictionary<int, bool> _userSelections = new();
    private bool _isTermsLoading = true;
    
    private async Task LoadTermsAsync()
    {
        try 
        {
            _isTermsLoading = true;
            _termsSources = await TermsService.GetTermsForDisplayAsync();
            _userSelections = _termsSources.ToDictionary(t => t.Id, _ => false);
        }
        finally 
        {
            _isTermsLoading = false;
        }
    }

    private void OnTermChanged(int termId, ChangeEventArgs e)
    {
        if (e.Value is bool val)
        {
            _userSelections[termId] = val;
        }
    }

    private bool CanProceedToPayment()
    {
        if (_termsSources == null) return false;

        return _termsSources
            .Where(t => t.IsRequired)
            .All(t => _userSelections.TryGetValue(t.Id, out var selected) && selected);
    }
}