@page "/rezerwuj/{ReservationTokenGuid:guid}/podsumowanie-transakcji"

@using RentoomBooking.SharedClasses.Models.IdoBooking;
@using RentoomBooking.SharedClasses.Models.ReservationWorkflow;
@using RentoomBooking.SharedClasses.Services.ReservationWorkflow;
@inject IReservationWorkflowService ReservationWorkflowService;
@inject NavigationManager Navigation;
@inject IApartmentsService ApartmentsService;
@implements IDisposable;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<RentoomBookingWeb.Payment> Localizer;

<PageTitle>Opłać</PageTitle>

<div class="summary-container">
    <div class="summary-wrapper">
        @if (!string.IsNullOrEmpty(_error))
        {
            <p class="text-danger">@_error</p>
        }
        else if (_state?.PaymentStatus == PaymentStatuses.Paid)
        {
            <div class="payment-success-card">
                <div class="success-icon-wrapper">
                    <img src="assets/svgs/success.svg" alt="Sukces" class="success-icon">
                </div>
    
                <h2 class="success-title">@Localizer["PaymentSuccessful"]</h2>
                <p class="success-subtitle">@Localizer["PaymentSuccessfulText"]</p>
                <p class="success-subtitle">@Localizer["ConfirmationNumber"]: @_summary?.IdoReservationId</p>

                <button class="button" @onclick="NavigateToSummary">@Localizer["BackToSummary"]</button>
            </div>

            <div class="payment-success-card email-status">
                @if (!string.IsNullOrEmpty(_emailError))
                {
                    <p class="text-danger">@_emailError</p>
                }
                else if (_isCheckingEmail || _emailSent != true)
                {
                    <p class="success-title">@Localizer["CheckEmailText"]</p> 
                    <p class="success-subtitle">@Localizer["ConfirmationWill"] @(_summary?.Client?.Email)</p>
                    
                }
                else
                {
                    <h2 class="success-title">@Localizer["SendMailText"]</h2>
                    <p class="success-subtitle">@Localizer["ConfirmationHasBeenSent"] @(_summary?.Client?.Email)</p>
                }
            </div>



            <div class="guest-info">
                <div class="box-text">
                    <img src="assets/svgs/calendar-2.svg" alt="ikona kalendarza" class="box-text-icon">
                    <b class="box-text-title">@Localizer["ReservationDetails"]</b>
                </div>

                <div class="guest-details-grid">
                    <div class="guest-detail-item">
                        <div class="guest-detail-item-img-wrapper">
                            <img src="assets/svgs/calendar-2.svg" alt="">
                        </div>
                        <div class="guest-detail-item-text-wrapper">
                            <span class="detail-label">@Localizer["CheckIn"]</span>
                            <span class="detail-value">@_summary?.StartRequest?.StartDate.ToString("yyyy-MM-dd")</span>
                        </div>
                    </div>
                    <div class="guest-detail-item">
                        <div class="guest-detail-item-img-wrapper">
                            <img src="assets/svgs/calendar-2.svg" alt="">
                        </div>
                        <div class="guest-detail-item-text-wrapper">
                            <span class="detail-label">@Localizer["CheckOut"]</span>
                            <span class="detail-value">@_summary?.StartRequest?.EndDate.ToString("yyyy-MM-dd")</span>
                        </div>
                    </div>
                    <div class="guest-detail-item">
                        <div class="guest-detail-item-img-wrapper">
                            <img src="assets/svgs/mail.svg" alt="">
                        </div>
                        <div class="guest-detail-item-text-wrapper">
                            <span class="detail-label">@Localizer["ConfimationSendToMail"]</span>
                            <span class="detail-value">@(_summary?.Client?.Email)</span>
                        </div>
                    </div>
                    <div class="guest-detail-item">
                        <div class="guest-detail-item-img-wrapper">
                            <img src="assets/svgs/dolar.svg" alt="">
                        </div>
                        <div class="guest-detail-item-text-wrapper">
                            <span class="detail-label">@Localizer["TotalAmount"]</span>
                            <span class="detail-value">@_summary?.StartRequest?.OfferPrice?.ToString("N2") @_summary?.StartRequest?.Currency</span>
                        </div>
                    </div>
                </div>
                
                <hr />
                
                <div class="apartment-card-summary">
                    <div class="apt-image-wrapper">
                        <img src="https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?q=80&w=300&auto=format&fit=crop" 
                             alt="Zdjęcie apartamentu" 
                             class="apt-image">
                    </div>
    
                    <div class="apt-details">
                        <h4 class="apt-title">@_apartment?.Name</h4>
                        <div class="apt-location">
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 13.43C13.7231 13.43 15.12 12.0331 15.12 10.31C15.12 8.58687 13.7231 7.19 12 7.19C10.2769 7.19 8.88 8.58687 8.88 10.31C8.88 12.0331 10.2769 13.43 12 13.43Z" stroke="#6B7280" stroke-width="1.5"/>
                                <path d="M3.62 10.44C3.62 7.13 7.02 3.69 12 3.69C16.98 3.69 20.38 7.13 20.38 10.44C20.38 14.59 16.9 18.06 13.53 20.12C12.63 20.67 11.37 20.67 10.47 20.12C7.1 18.06 3.62 14.59 3.62 10.44Z" stroke="#6B7280" stroke-width="1.5"/>
                            </svg>
                            <span class="apt-location-text">@_apartment?.ObjectLocation?.LocalizationItem?.Street, @_apartment?.ObjectLocation?.LocalizationItem?.ZipCode @_apartment?.ObjectLocation?.LocalizationItem?.City</span>
                        </div>
                    </div>
                </div>
                
            </div>
            
            @* <div class="download-card"> *@
            @*     <div class="icon-container"> *@
            @*         <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"> *@
            @*             <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v4"></path> *@
            @*             <polyline points="7 10 12 15 17 10"></polyline> *@
            @*             <line x1="12" y1="15" x2="12" y2="3"></line> *@
            @*         </svg> *@
            @*     </div> *@
            @*     <div class="content"> *@
            @*         <h3 class="title">Download Confirmation</h3> *@
            @*         <p class="description">PDF receipt and booking details</p> *@
            @*     </div> *@
            @* </div> *@
        }
        else if (_state?.PaymentStatus == PaymentStatuses.Failed)
        {
            <div class="payment-success-card">
                <div class="error-icon-wrapper">
                    <img src="assets/svgs/danger.svg" alt="Sukces" class="success-icon">
                </div>
    
                <h2 class="success-title">@Localizer["PaymentFailed"]</h2>
                <p class="success-subtitle">@Localizer["PaymentFailedText"]</p>
                <p class="success-subtitle">@Localizer["ConfirmationNumber"]: @_summary?.IdoReservationId</p>

                <button class="button-info" @onclick="RetryPayment">@Localizer["TryAgain"]</button>
            </div>
        }
        else
        {
            <div class="payment-success-card">
                <div class="info-icon-wrapper">
                    <div class="spinner" role="status" aria-label="Ładowanie"></div>
                </div>
    
                <h2 class="success-title">@Localizer["WaitingPayment"]</h2>

                <button class="button-info" @onclick="RetryPayment">@Localizer["TryAgain"]</button>
            </div>
            
        }
    </div>
</div>

@code {
    [Parameter] public Guid ReservationTokenGuid { get; set; }

    private PaymentStateDto? _state;
    private string? _error;
    private CancellationTokenSource? _cts;
    private ReservationSummaryDto? _summary;
    private ApartmentObject? _apartment;
   
    //sprawdzanie maila...
    private bool? _emailSent;                 // null = unknown, false = not sent yet, true = sent
    private bool _isCheckingEmail;
    private bool _emailPollStarted;
    private string? _emailError;

    protected override Task OnInitializedAsync()
    {
        _cts = new CancellationTokenSource();
        _ = PollAsync(_cts.Token);
        return Task.CompletedTask;
    }

    private async Task PollAsync(CancellationToken token)
    {
        while (!token.IsCancellationRequested)
        {
            try
            {
                _state = await ReservationWorkflowService.GetPaymentStateAsync(ReservationTokenGuid);
               
                if (_state?.PaymentStatus == PaymentStatuses.Paid)
                {
                    _summary = await ReservationWorkflowService.BuildSummaryAsync(_state.ReservationGuid);
                    
                    if (_summary?.StartRequest?.ObjectId != null)
                    {
                        _apartment = await ApartmentsService.GetApartmentByIdAsync(_summary.StartRequest.ObjectId);   
                    }
                    
                    // pobieram status maila
                    if (!_emailPollStarted)
                    {
                        _emailPollStarted = true;
                        _ = PollEmailStatusAsync(_state.ReservationGuid, token);
                    }



                    await InvokeAsync(StateHasChanged);
                    return;
                }

                if (_state?.PaymentStatus == PaymentStatuses.Failed)
                {
                    await InvokeAsync(StateHasChanged);
                    return;
                }

                await InvokeAsync(StateHasChanged);
            }
            catch (Exception)
            {
                _error = "Nie udało się pobrać statusu płatności.";
                await InvokeAsync(StateHasChanged);
                return;
            }

            await Task.Delay(TimeSpan.FromSeconds(2), token);
        }
    }

    private async Task PollEmailStatusAsync(Guid reservationGuid, CancellationToken token)
    {
        _isCheckingEmail = true;
        _emailError = null;
        _emailSent = null;
        await InvokeAsync(StateHasChanged);

        // poll until sent (or until cancelled)
        while (!token.IsCancellationRequested)
        {
            try
            {
                // assuming bool return: true = sent
                var emailStatus = await ReservationWorkflowService.GetDealEmailStatusAsync(reservationGuid);
                _emailSent = emailStatus.EmailSent;

                if (_emailSent == true)
                {
                    _isCheckingEmail = false;
                    await InvokeAsync(StateHasChanged);
                    return;
                }

                await InvokeAsync(StateHasChanged);
                await Task.Delay(TimeSpan.FromSeconds(2), token);
            }
            catch (OperationCanceledException) when (token.IsCancellationRequested)
            {
                return;
            }
            catch (Exception)
            {
                _emailError = "Nie udało się sprawdzić statusu e-maila.";
                _isCheckingEmail = false;
                await InvokeAsync(StateHasChanged);
                return;
            }
        }
    }



    public void Dispose()
    {
        _cts?.Cancel();
        _cts?.Dispose();
    }

    private void NavigateToSummary()
    {
        Navigation.NavigateTo($"/rezerwuj/{ReservationTokenGuid}/podsumowanie");
    }

    private void RetryPayment()
    {
        Navigation.NavigateTo($"/rezerwuj/{ReservationTokenGuid}/oplac");
    }
}