@using RentoomBookingWeb.Components.Features.Apartments.Components;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<HomePage> Localizer;

<div class="apartments-section-container">
    <div class="apartments-section-container-text">
        <h1 class="city-title">@Localizer["title3"]</h1>
        <h2 class="city-subtitle">@Localizer["title2subtitle"]</h2>
    </div>

    @if (!string.IsNullOrEmpty(Error))
    {
        <p class="text-red-600">@Error</p>
    }
    else
    {
        @if (!ApartmentsIsLoading)
        {
            <SimpleCarousel>
                @foreach (var apartment in Apartments)
                {
                    <div @onclick="() => GoToApartmentWithOffer(apartment.Id, apartment.Name)">
                        <Apartment
                            @key="apartment.Id"
                            Item="@apartment"
                            Offer="@GetPricingOfferByObjectId(apartment.Id)"
                            OfferLength = "@(_dateTo.DayNumber-_dateFrom.DayNumber)"
                            ShowPrice="true"
                            DisableForGoToReservation="true"
                            Width="min(370px, 85vw)"/>
                    </div>
                }
            </SimpleCarousel>
        }
        else
        {
            <SimpleCarousel>
                <Apartment Width="min(370px, 85vw)"/>
                <Apartment Width="min(370px, 85vw)"/>
                <Apartment Width="min(370px, 85vw)"/>
                <Apartment Width="min(370px, 85vw)"/>
                <Apartment Width="min(370px, 85vw)"/>
                <Apartment Width="min(370px, 85vw)"/>
                <Apartment Width="min(370px, 85vw)"/>
                <Apartment Width="min(370px, 85vw)"/>
            </SimpleCarousel>
        }
    }
</div>