@using RentoomBookingWeb.Components.Features.Apartments.Components;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<HomePage> Localizer;

<div class="apartments-section-container">
    <div class="apartments-section-container-text">
        <h1 class="city-title">@Localizer["title3"]</h1>
        <h2 class="city-subtitle">@Localizer["title2subtitle"]</h2>
    </div>

    @if (!string.IsNullOrEmpty(ViewModel.Error))
    {
        <p class="text-red-600">@ViewModel.Error</p>
    }
    else if (ViewModel.Items.Count == 0 && ViewModel.ApartmentsIsLoading)
    {
        <div @ref="_carouselWrapper">
            <SimpleCarousel>
                @for (int i = 0; i < 8; i++)
                {
                    <Apartment @key="@($"skeleton-loader-{i}")" Width="min(370px, 85vw)" />
                }
            </SimpleCarousel>
        </div>
    }
    else
    {
        <div @ref="_carouselWrapper">
            <SimpleCarousel>
                @foreach (var apartment in ViewModel.Items)
                {
                    <div @key="@($"apartment-{apartment.Id}")"
                         @onclick='() => ViewModel.NavigateToApartmentAsync(apartment.Id, apartment.Name, "home-carousel")'>
                        <Apartment Item="@apartment"
                                   Offer="@ViewModel.GetPricingOfferByObjectId(apartment.Id)"
                                   OfferLength="@ViewModel.GetOfferLengthDays()"
                                   ShowPrice="true"
                                   DisableForGoToReservation="true"
                                   SuggestionState="@ViewModel.GetSuggestionStatusByObjectId(apartment.Id)"
                                   SuggestionDates="@ViewModel.GetSuggestionsByObjectId(apartment.Id)"
                                   Width="min(370px, 85vw)" />
                    </div>
                }

                @if (ViewModel.ApartmentsIsLoading)
                {
                    @for (int i = 0; i < 4; i++)
                    {
                        <Apartment @key="@($"loading-more-{i}")" Width="min(370px, 85vw)" />
                    }
                }
            </SimpleCarousel>
        </div>
    }
</div>
