@using RentoomBookingWeb.Components.Features.Apartments.Components;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<HomePage> Localizer;

<div class="apartments-section-container">
    <div class="apartments-section-container-text">
        <h1 class="city-title">@Localizer["title3"]</h1>
        <h2 class="city-subtitle">@Localizer["title2subtitle"]</h2>
    </div>
    
    @if (!string.IsNullOrEmpty(Error))
    {
        <p class="text-red-600">@Error</p>
    }
    else
    {
        @if (!ApartmentsIsLoading)
        {
            <Slider ItemsPerPage="4">
                @foreach (var apartment in Apartments)
                {
                    <Item>
                        <div @onclick="() => GoToApartmentWithOffer(apartment.Id, apartment.Name)" >
                            <Apartment 
                                @key="apartment.Id"
                                Item="@apartment" 
                                Offer="@GetPricingOfferByObjectId(apartment.Id)" 
                                ShowPrice="true"
                                DisableForGoToReservation="true"
                                Width="380px"
                                       />
                        </div>
                    </Item>
                }  
            </Slider>   
        }
        else
        {
            <Slider ItemsPerPage="4">
                <Item>
                    <div>
                        <Apartment Width="380px"/>
                    </div>
                </Item>
                <Item>
                    <div>
                        <Apartment Width="380px"/>
                    </div>
                </Item>
                <Item>
                    <div >
                        <Apartment Width="380px"/>
                    </div>
                </Item>
                <Item>
                    <div>
                        <Apartment Width="380px"/>
                    </div>
                </Item>
            </Slider>   
        } 
    }
</div>