@using RentoomBookingWeb.Components.Features.Apartments.Components;
@using RentoomBookingWeb.Components.Features.Apartments.ViewModels;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<HomePage> Localizer;

<div class="apartments-section-container">
    <div class="apartments-section-container-text">
        <h1 class="city-title">@Localizer["title3"]</h1>
        <h2 class="city-subtitle">@Localizer["title2subtitle"]</h2>
    </div>

    @if (!string.IsNullOrEmpty(ViewModel.Error))
    {
        <p class="text-red-600">@ViewModel.Error</p>
    }
    else
    {
        <div @ref="_carouselWrapper">
            <ApartmentsCarousel Apartments="@ViewModel.Items"
                                SkeletonWidth="min(370px, 85vw)"
                                LeadingSkeletonCount="@(ViewModel.Items.Count == 0 && ViewModel.ApartmentsIsLoading ? 8 : 0)"
                                TrailingSkeletonCount="@(ViewModel.Items.Count > 0 && ViewModel.ApartmentsIsLoading ? 4 : 0)">
                <CardTemplate Context="apartment">
                    <div @key="@($"apartment-{apartment.Id}")"
                         @onclick='() => ViewModel.NavigateToApartmentAsync(apartment.Id, apartment.Name, "home-carousel")'>
                        <Apartment Item="@apartment"
                                   Offer="@(EnforcePublicOffer ? null : ViewModel.GetPricingOfferByObjectId(apartment.Id))"
                                   PublicOffer="@(ShowPublicOffer ? ViewModel.GetPublicOfferByObjectId(apartment.Id) : null)"
                                   OfferLength="@ViewModel.GetOfferLengthDays()"
                                   ShowPrice="true"
                                   SuggestionState="@(ShowSuggestions ? ViewModel.GetSuggestionStatusByObjectId(apartment.Id) : SuggestionStatus.NotStarted)"
                                   SuggestionDates="@(ShowSuggestions ? ViewModel.GetSuggestionsByObjectId(apartment.Id) : null)"
                                   ShowSuggestionPrice="true"
                                   SuggestedNavigationTerm="@(ViewModel.GetPricingOfferByObjectId(apartment.Id) == null ? ViewModel.GetSuggestionsByObjectId(apartment.Id)?.FirstOrDefault() : null)"
                                   Width="min(370px, 85vw)" />
                    </div>
                </CardTemplate>
            </ApartmentsCarousel>
        </div>
    }
</div>
