@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<HomePage> Localizer;

<div class="city-container">
    <h1 class="city-title">@Localizer["title3"]</h1>
    <h2 class="city-subtitle">@Localizer["title3subtitle"]</h2>

    <div class="city-content">
        <img src="assets/images/torun.jpeg" alt="Apartamenty w Toruniu – panorama miasta" class="city-image" />

        <div class="city-text">
            <h4><strong>@Localizer["text1title"]</strong></h4>
            <p>
                @Localizer["text1description"]
            </p>

            <h4><strong>@Localizer["text1title2"]</strong></h4>
            <p>
                @Localizer["text1description2"]
            </p>
        </div>
    </div>
</div>