@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<HomePage> Localizer;

<div class="city-container">
    <h1 class="city-title">@Localizer["whyRentoom"]</h1>
    <h2 class="city-subtitle">@Localizer["whyRentoomSubtitle"]</h2>

    <div class="city-content">
        <div class="city-text">
            <h4><strong>@Localizer["whyRentoomTitle"]</strong></h4>
            <p>
                @Localizer["whyRentoomText1"]
            </p>

            <p>
                @Localizer["whyRentoomText2"]
            </p>
        </div>
        
        <img src="assets/images/apartment.jpeg" alt="Apartamenty w Toruniu – panorama miasta" class="city-image" />
    </div>
</div>